{{ 'thunder-room.css' | asset_url | stylesheet_tag }}
{{ 'thunder-beat.css' | asset_url | stylesheet_tag }}
{{ 'thunder-room-products-and-dialog.css' | asset_url | stylesheet_tag }}
<div class="main_container"> 
  {% comment %} Thunder Banner {% endcomment %}
  <div class="thunder_beat_banner margin-top-160">
        <div class="banner_subtitle">AWOL ThunderBeat</div>
        <div class="banner_header_title grid-col-12">
        <video autoplay muted loop preload  playsinline x5-playsinline="true" webkit-playsinline="true" poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
        </video>
        <h2>Most Powerful All-Wireless 4.2.2<br> Surround Sound System For<br> Large-Screen Projection</h2>
        </div>
        <div class="banner_desc">A fully wireless surround sound system featuring dual subwoofers, designed for large-screen<br> projection and spacious rooms. Enjoy room-filling sound without the clutter of cables, while<br> maintaining uncompromising audio excellence.</div>
        <div  class="banner_images">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_beat_banner.webp?v=1727613240" alt="">

        </div>
        <div class="thunder_beat_icons thunder_container">
            <div class="icon_one">
            <svg xmlns="http://www.w3.org/2000/svg" width="124" height="47" viewBox="0 0 124 47" fill="none">
                <path d="M32.3661 46.0879H30.6609L35.4179 35.1198H36.8118L41.5197 46.0879H39.7856L38.6711 43.3929H33.466L32.3661 46.0879ZM34.0079 42.0451H38.1134L36.0678 36.9009L34.0079 42.0451ZM48.4528 36.4675H51.9699V35.1198H43.4031V36.4675H46.9189V46.0879H48.4528V36.4675ZM58.56 35.1198H56.1756V46.0879H57.6617V36.9166H57.6922L61.3175 46.0879H62.2934L65.9333 36.9166H65.9649V46.0879H67.4985V35.1198H65.1141L61.8753 43.5465H61.8434L58.56 35.1198ZM82.8456 40.589C82.8456 41.3953 82.7045 42.1341 82.4248 42.8066C82.1454 43.4793 81.759 44.0583 81.2696 44.5449C80.7778 45.031 80.1935 45.4087 79.5169 45.679C78.8377 45.948 78.1019 46.0827 77.3067 46.0827C76.5115 46.0827 75.7769 45.948 75.1056 45.679C74.4317 45.4086 73.8514 45.0309 73.3596 44.5449C72.8676 44.0583 72.4866 43.4793 72.2107 42.8066C71.9351 42.1341 71.798 41.3953 71.798 40.589C71.798 39.7747 71.9351 39.0307 72.2107 38.3582C72.4866 37.6855 72.8676 37.1118 73.3596 36.6344C73.8514 36.1585 74.4317 35.7879 75.1056 35.522C75.7769 35.2576 76.5115 35.1251 77.3067 35.1251C78.1019 35.1251 78.8378 35.2576 79.5169 35.522C80.1935 35.7879 80.7778 36.1585 81.2696 36.6344C81.759 37.1119 82.1454 37.6856 82.4248 38.3582C82.7047 39.0307 82.8456 39.7747 82.8456 40.589ZM81.2696 40.589C81.2696 40.0192 81.1747 39.483 80.9901 38.9766C80.8014 38.4715 80.5379 38.0259 80.1935 37.6433C79.8493 37.2603 79.4351 36.9588 78.9487 36.7371C78.4634 36.5171 77.9145 36.4061 77.3067 36.4061C76.708 36.4061 76.1646 36.5171 75.6793 36.7371C75.1941 36.9588 74.7799 37.2603 74.4423 37.6433C74.1033 38.0259 73.8408 38.4715 73.6538 38.9766C73.4678 39.483 73.374 40.0192 73.374 40.589C73.374 41.1686 73.4678 41.7139 73.6538 42.2244C73.8409 42.7347 74.106 43.179 74.449 43.5577C74.7928 43.9355 75.2059 44.2329 75.6858 44.4487C76.1673 44.6648 76.708 44.7729 77.3067 44.7729C77.9053 44.7729 78.4501 44.6648 78.9408 44.4487C79.4327 44.233 79.8493 43.9355 80.1937 43.5577C80.5379 43.179 80.8014 42.7347 80.9902 42.2244C81.1749 41.714 81.2696 41.1686 81.2696 40.589ZM93.2351 36.3187C92.912 35.9552 92.4833 35.6664 91.9546 35.4503C91.4243 35.2346 90.8547 35.1264 90.2469 35.1264C89.8156 35.1264 89.3858 35.183 88.957 35.2952C88.5309 35.4086 88.1474 35.5879 87.8097 35.8326C87.4707 36.0786 87.1952 36.3879 86.984 36.7603C86.7731 37.1343 86.6688 37.5801 86.6688 38.1016C86.6688 38.5824 86.7468 38.9845 86.9037 39.3077C87.0606 39.6315 87.2665 39.9045 87.5223 40.1261C87.7767 40.3457 88.068 40.5284 88.3913 40.6701C88.7144 40.812 89.0442 40.9334 89.3777 41.0322C89.7114 41.139 90.028 41.2438 90.3273 41.3481C90.6268 41.4509 90.8904 41.5762 91.1146 41.7232C91.3416 41.8709 91.5196 42.0503 91.6526 42.2607C91.7859 42.4718 91.8519 42.7348 91.8519 43.048C91.8519 43.3633 91.7873 43.6302 91.6592 43.8506C91.5326 44.0722 91.3678 44.2556 91.1674 44.4033C90.9657 44.5502 90.7413 44.6584 90.4976 44.7271C90.2509 44.7963 90.0055 44.8299 89.7616 44.8299C89.2786 44.8299 88.8331 44.7178 88.4203 44.4922C88.0076 44.2666 87.6792 43.9719 87.4339 43.6085L86.2998 44.5646C86.7019 45.0658 87.2097 45.4443 87.8227 45.6995C88.4375 45.9546 89.0718 46.0812 89.7312 46.0812C90.1928 46.0812 90.6398 46.0179 91.0778 45.8913C91.5156 45.7627 91.9007 45.5695 92.2344 45.309C92.5677 45.0487 92.8357 44.7204 93.0374 44.3219C93.2367 43.9251 93.3381 43.4563 93.3381 42.9161C93.3381 42.3958 93.2459 41.9666 93.0585 41.6277C92.8728 41.2887 92.6327 41.0077 92.3373 40.7809C92.0432 40.5554 91.7134 40.3747 91.3509 40.2361C90.9869 40.099 90.6294 39.9756 90.276 39.8683C89.9805 39.7692 89.7051 39.673 89.4438 39.58C89.1828 39.4882 88.9571 39.3749 88.7673 39.2423C88.5759 39.1099 88.423 38.9468 88.3097 38.7564C88.1977 38.5644 88.1409 38.3271 88.1409 38.0415C88.1409 37.7475 88.2016 37.4949 88.3242 37.2832C88.447 37.0723 88.6066 36.8953 88.8031 36.7537C88.9996 36.6117 89.2184 36.5077 89.4583 36.4443C89.6985 36.3797 89.937 36.3482 90.1733 36.3482C90.6151 36.3482 91.012 36.4391 91.3653 36.6211C91.7188 36.8018 91.9983 37.0359 92.2054 37.3194L93.2351 36.3187ZM0 24.1628H3.55285C10.1811 24.1628 15.5869 18.7569 15.5869 12.1259C15.5869 5.494 10.1811 0.0893787 3.55285 0.0893787H0V24.1628ZM34.2453 0.0892547H30.6938C24.0628 0.0892547 18.6583 5.49387 18.6583 12.1258C18.6583 18.7569 24.0627 24.1626 30.6938 24.1626H34.2453V0.0892547ZM50.2292 0.0878906H41.5358V24.1628H50.2292C56.8653 24.1628 62.2657 18.7621 62.2657 12.1259C62.2659 5.48854 56.8653 0.0878906 50.2292 0.0878906ZM50.2278 20.5128H47.7538H45.1834V3.73784H47.7538H50.2278C54.849 3.73784 58.6153 7.50448 58.6153 12.1259C58.6153 16.7462 54.849 20.5128 50.2278 20.5128ZM72.4589 7.50299C67.8578 7.50299 64.1174 11.244 64.1174 15.8442C64.1174 20.445 67.8576 24.1858 72.4589 24.1858C77.0587 24.1858 80.799 20.445 80.799 15.8442C80.7989 11.244 77.0586 7.50299 72.4589 7.50299ZM72.4589 20.8433C69.6682 20.8433 67.4302 18.5734 67.4302 15.8137C67.4302 13.0223 69.6987 10.7849 72.4589 10.7849C75.2177 10.7849 77.4875 13.0534 77.4875 15.8137C77.4874 18.6045 75.2177 20.8433 72.4589 20.8433ZM83.1597 24.1912H86.8088V0.0917348H83.1597V24.1912ZM98.3021 7.50448C96.5295 7.50448 94.8864 8.06101 93.5332 9.00791V0.0917348H89.8763L89.8775 24.1912H93.5332V22.6831C94.8864 23.6293 96.5295 24.1872 98.3021 24.1872C102.902 24.1872 106.645 20.4449 106.645 15.8453C106.645 11.2455 102.902 7.50448 98.3021 7.50448ZM98.3021 20.8433C96.072 20.8433 94.1954 19.3919 93.5332 17.3984C93.3672 16.8998 93.2734 16.3677 93.2734 15.8151C93.2734 15.2592 93.3672 14.7258 93.5332 14.2271C94.2007 12.2219 96.0918 10.7849 98.3021 10.7849C101.062 10.7849 103.332 13.0548 103.332 15.815C103.332 18.6059 101.062 20.8433 98.3021 20.8433ZM120.013 7.50833L115.261 18.1976L110.505 7.50833H106.518L113.265 22.6746L113.131 22.9692L113.083 23.0741L111.622 26.3739L111.613 26.3996C111.175 27.3801 110.021 27.8239 109.042 27.3868L108.519 27.1546L107.499 29.4449L107.046 30.4602H107.047L107.052 30.4628L108.316 31.0259C110.688 32.085 113.486 31.0082 114.548 28.6304C114.558 28.6101 123.189 9.32115 124 7.50833H120.013Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="144" height="43" viewBox="0 0 144 43" fill="none">
                <path d="M90.9106 28.337L86.3202 23.7534C85.7214 23.1555 85.3722 22.3085 85.3722 21.4117C85.3722 19.5683 86.869 18.0737 88.7152 18.0737H91.0104C91.7588 18.0737 92.3576 17.4758 92.3576 16.7285V14.2374H73.3472C70.1539 14.2374 67.5094 16.8281 67.5094 20.0666C67.5094 21.6609 68.158 23.1057 69.2058 24.1519L73.8462 28.7854C74.4449 29.3833 74.7942 30.2302 74.7942 31.127C74.7942 32.9705 73.2973 34.4651 71.4511 34.4651H64.316C61.5218 34.4651 59.2266 32.1733 59.2266 29.3833V18.1235H63.6175C64.3659 18.1235 64.9647 17.5256 64.9647 16.7783V14.2872H59.2266V1.8815L44.3077 8.40818V14.2872H37.0728V0.0878906H25.9958C23.8503 0.0878906 22.1538 1.78185 22.1538 3.9242V14.2872H14.1705C5.83784 14.2872 0 18.7712 0 26.2943C0 33.0203 6.83576 38.3014 14.1705 38.3014H31.9335C34.7277 38.3014 37.0229 36.0096 37.0229 33.2196V18.1235H44.2578C44.2578 18.1235 44.2578 25.8957 44.2578 27.9384C44.2578 33.5185 47.6008 38.3014 54.4865 38.3014H86.7692C89.9626 38.3014 92.6071 35.7107 92.6071 32.4722C92.6071 30.8779 91.9584 29.4331 90.9106 28.337ZM22.1538 33.6181C22.1538 34.0665 21.8046 34.4651 21.3056 34.4651H20.8067C15.6175 34.4651 13.7214 30.8779 13.6715 26.2943C13.7214 21.5114 15.7173 18.1235 20.8067 18.1235H22.1538V33.6181Z" fill="white"/>
                <path d="M142.503 36.5576C142.803 36.458 142.952 36.2587 142.952 35.9598C142.952 35.7605 142.902 35.6608 142.803 35.5612C142.653 35.4117 142.453 35.3619 142.204 35.3619H141.306V37.3548H141.705V36.6573H142.104L142.603 37.3548H143.052L142.503 36.5576ZM141.705 36.2587V35.611H142.204C142.453 35.611 142.603 35.7107 142.603 35.9099C142.603 36.1092 142.453 36.2089 142.204 36.2089H141.705V36.2587Z" fill="white"/>
                <path d="M142.104 34.4651C141.006 34.4651 140.158 35.3619 140.158 36.4082C140.158 37.4544 141.006 38.3014 142.054 38.3014C143.152 38.3014 144 37.4046 144 36.3583C144 35.3121 143.202 34.4651 142.104 34.4651ZM143.701 36.3583C143.701 37.2551 143.002 38.0025 142.054 38.0025C141.106 38.0025 140.457 37.2551 140.457 36.3583C140.457 35.4615 141.156 34.7142 142.104 34.7142C143.002 34.7142 143.701 35.4615 143.701 36.3583Z" fill="white"/>
                <path d="M113.813 14.2374H100.94L111.967 25.248L118.403 18.821L113.813 14.2374Z" fill="white"/>
                <path d="M124.99 38.2516H137.863L126.786 27.2409L143.651 10.4011H131.376L99.5925 42.0879H111.917L120.349 33.668L124.99 38.2516Z" fill="white"/>
            </svg>
            </div>
            <div class="icon_two">
            <div class="two_itme">
                <svg xmlns="http://www.w3.org/2000/svg" width="98" height="77" viewBox="0 0 98 77" fill="none">
                <g clip-path="url(#clip0_6471_1786)">
                    <path d="M69.9305 75.0881L63.7085 51.2881H68.8085L72.8205 69.7161L77.6485 51.2881H82.8845L87.5425 69.7161L91.6225 51.2881H96.7565L90.3645 75.0881H84.6865L80.1985 57.9861L75.5745 75.0881H69.9305Z" fill="white"/>
                    <path d="M69.9305 75.0881L63.7085 51.2881H68.8085L72.8205 69.7161L77.6485 51.2881H82.8845L87.5425 69.7161L91.6225 51.2881H96.7565L90.3645 75.0881H84.6865L80.1985 57.9861L75.5745 75.0881H69.9305Z" fill="white"/>
                    <path d="M53.202 75.4959C46.674 75.4959 42.73 70.4979 42.73 63.1879C42.73 55.8779 46.674 50.8799 53.202 50.8799C59.73 50.8799 63.64 55.8779 63.64 63.1879C63.64 70.4979 59.73 75.4959 53.202 75.4959ZM53.202 71.2119C56.534 71.2119 58.812 68.1519 58.812 63.1879C58.812 58.2239 56.534 55.1639 53.202 55.1639C49.87 55.1639 47.592 58.2239 47.592 63.1879C47.592 68.1519 49.87 71.2119 53.202 71.2119Z" fill="white"/>
                    <path d="M53.202 75.4959C46.674 75.4959 42.73 70.4979 42.73 63.1879C42.73 55.8779 46.674 50.8799 53.202 50.8799C59.73 50.8799 63.64 55.8779 63.64 63.1879C63.64 70.4979 59.73 75.4959 53.202 75.4959ZM53.202 71.2119C56.534 71.2119 58.812 68.1519 58.812 63.1879C58.812 58.2239 56.534 55.1639 53.202 55.1639C49.87 55.1639 47.592 58.2239 47.592 63.1879C47.592 68.1519 49.87 71.2119 53.202 71.2119Z" fill="white"/>
                    <path d="M31.4159 75.4959C26.5199 75.4959 22.6439 72.7079 22.6439 68.3899C22.6439 65.5339 24.1739 63.2899 26.5879 62.2699C24.5819 61.3179 23.2219 59.4819 23.2219 57.2379C23.2219 53.9059 26.0099 50.8799 31.4159 50.8799C36.8559 50.8799 39.6099 53.9059 39.6099 57.2379C39.6099 59.4139 38.2499 61.3179 36.2439 62.2699C38.6919 63.2899 40.2219 65.5339 40.2219 68.3899C40.2219 72.7079 36.3119 75.4959 31.4159 75.4959ZM31.4159 71.5519C34.1359 71.5519 35.5299 70.0219 35.5299 67.9819C35.5299 65.7719 34.0339 64.3779 31.4159 64.3779C28.8319 64.3779 27.2679 65.7719 27.2679 67.9819C27.2679 70.0219 28.7299 71.5519 31.4159 71.5519ZM31.4159 60.9099C33.6599 60.9099 34.9519 59.6179 34.9519 57.8499C34.9519 55.9119 33.6599 54.7219 31.4159 54.7219C29.2059 54.7219 27.9479 55.9119 27.9479 57.8499C27.9479 59.6519 29.2059 60.9099 31.4159 60.9099Z" fill="white"/>
                    <path d="M31.4159 75.4959C26.5199 75.4959 22.6439 72.7079 22.6439 68.3899C22.6439 65.5339 24.1739 63.2899 26.5879 62.2699C24.5819 61.3179 23.2219 59.4819 23.2219 57.2379C23.2219 53.9059 26.0099 50.8799 31.4159 50.8799C36.8559 50.8799 39.6099 53.9059 39.6099 57.2379C39.6099 59.4139 38.2499 61.3179 36.2439 62.2699C38.6919 63.2899 40.2219 65.5339 40.2219 68.3899C40.2219 72.7079 36.3119 75.4959 31.4159 75.4959ZM31.4159 71.5519C34.1359 71.5519 35.5299 70.0219 35.5299 67.9819C35.5299 65.7719 34.0339 64.3779 31.4159 64.3779C28.8319 64.3779 27.2679 65.7719 27.2679 67.9819C27.2679 70.0219 28.7299 71.5519 31.4159 71.5519ZM31.4159 60.9099C33.6599 60.9099 34.9519 59.6179 34.9519 57.8499C34.9519 55.9119 33.6599 54.7219 31.4159 54.7219C29.2059 54.7219 27.9479 55.9119 27.9479 57.8499C27.9479 59.6519 29.2059 60.9099 31.4159 60.9099Z" fill="white"/>
                    <path d="M12.6046 75.0881V70.8721H0.942627V67.0641L11.9926 51.2881H17.3646V66.7241H20.3906V70.8721H17.3646V75.0881H12.6046ZM6.00863 66.7241H12.9106V56.5241L6.00863 66.7241Z" fill="white"/>
                    <path d="M12.6046 75.0881V70.8721H0.942627V67.0641L11.9926 51.2881H17.3646V66.7241H20.3906V70.8721H17.3646V75.0881H12.6046ZM6.00863 66.7241H12.9106V56.5241L6.00863 66.7241Z" fill="white"/>
                    <path d="M42.3695 0.0878906L37.4695 28.2686H47.2695L42.3695 49.0879L65.6502 19.6879H54.631L64.431 0.0878906H42.3695Z" fill="white"/>
                </g>
                <defs>
                    <clipPath id="clip0_6471_1786">
                    <rect width="97" height="76" fill="white" transform="translate(0.5 0.0878906)"/>
                    </clipPath>
                </defs>
                </svg>
                <div class="icon_desc">
                Ultra-High<br> Audio Power
                </div>
            </div>
            <div class="two_itme">
                <svg width="78" height="79" viewBox="0 0 78 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1.08789" width="76" height="76" rx="10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <circle cx="39" cy="39.0879" r="32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <circle cx="39" cy="39.0879" r="24" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M28.6773 46.0879L32.0973 41.0479L28.6773 36.0079H30.5173L33.2373 40.1279L35.9973 36.0079H37.7973L34.3773 41.0479L37.7973 46.0879H35.9973L33.2373 41.9479L30.5173 46.0879H28.6773ZM39.4792 44.9079C43.2992 41.9079 46.6192 38.7679 46.6192 36.0879C46.6192 34.6279 45.9392 33.2879 43.9992 33.2879C42.1192 33.2879 41.1992 34.6679 41.1992 36.2479H39.5792C39.5992 33.4879 41.4592 31.8479 44.0192 31.8479C46.5192 31.8479 48.2992 33.2479 48.2992 36.0279C48.2992 39.3079 44.5192 42.6279 41.9592 44.6879H48.7792V46.0879H39.4792V44.9079Z" fill="#EFCC00"/>
                <path d="M28.6773 46.0879L32.0973 41.0479L28.6773 36.0079H30.5173L33.2373 40.1279L35.9973 36.0079H37.7973L34.3773 41.0479L37.7973 46.0879H35.9973L33.2373 41.9479L30.5173 46.0879H28.6773ZM39.4792 44.9079C43.2992 41.9079 46.6192 38.7679 46.6192 36.0879C46.6192 34.6279 45.9392 33.2879 43.9992 33.2879C42.1192 33.2879 41.1992 34.6679 41.1992 36.2479H39.5792C39.5992 33.4879 41.4592 31.8479 44.0192 31.8479C46.5192 31.8479 48.2992 33.2479 48.2992 36.0279C48.2992 39.3079 44.5192 42.6279 41.9592 44.6879H48.7792V46.0879H39.4792V44.9079Z" fill="white"/>
                </svg>
                <div class="icon_desc">
                Dual 120W<br> Subwoofers
                </div>
            </div>
            <div class="two_itme">
                <svg xmlns="http://www.w3.org/2000/svg" width="76" height="77" viewBox="0 0 76 77" fill="none">
                <path d="M2.03931 2.08838L74.3748 74.4239" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.62512 74.4243L73.9607 2.08878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.6566 46.9057C21.4586 44.4545 20.8244 41.6792 20.9251 38.752M47.6328 53.9554C44.7033 55.738 41.2503 56.7205 37.5759 56.6091C34.0927 56.4977 30.8813 55.3531 28.2337 53.4793M53.5924 27.9546C55.5051 31.1046 56.5622 34.8219 56.4414 38.7924C56.3407 42.1349 55.3541 45.2444 53.7132 47.8982M27.0961 21.1177C30.2169 19.4161 33.8108 18.4943 37.6161 18.6159C41.4214 18.7374 44.7435 19.882 47.6227 21.7761M19.1734 50.4101C17.2204 46.9866 16.1634 42.9857 16.2943 38.7519C16.4352 34.2142 18.0057 30.0715 20.5627 26.729M51.267 57.6115C47.361 60.2349 42.6295 61.7036 37.5658 61.5415C32.5021 61.3794 28.3344 59.6778 24.7908 56.9126M57.4582 24.0653C60.2668 28.2586 61.8373 33.3534 61.6662 38.7925C61.5151 43.5733 59.9548 47.9692 57.4078 51.6055M22.9586 16.9447C27.217 14.3112 32.2605 12.8526 37.6262 13.0248C42.9919 13.197 47.4918 14.9088 51.3676 17.7347M14.7842 54.8161C11.8447 50.1872 10.2138 44.6468 10.395 38.7316C10.5762 32.8163 12.8413 26.9923 16.4755 22.5964M55.8877 62.261C50.7435 65.9782 44.3811 68.0749 37.5658 67.8622C30.7505 67.6495 25.1029 65.2186 20.452 61.3089M62.3608 19.1324C66.3171 24.6526 68.562 31.4794 68.3305 38.8025C68.1191 45.4065 65.8137 51.4433 62.0588 56.2848M17.7137 11.6675C23.3814 7.81853 30.2672 5.6611 37.6362 5.89406C45.0053 6.12703 51.2971 8.70987 56.4715 12.8829M9.22729 60.4172C4.9891 54.2791 2.61329 46.7737 2.86497 38.7314C3.11664 30.6891 6.25754 23.0824 11.2709 17.3698" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <div class="icon_desc">
                All Wireless, No Audio<br> Cable needed
                </div>
            </div>
            <div class="two_itme">
                <svg xmlns="http://www.w3.org/2000/svg" width="154" height="77" viewBox="0 0 154 77" fill="none">
                <g clip-path="url(#clip0_6453_1726)">
                    <path d="M49.2654 56.6195C39.0605 46.4146 39.0605 29.8937 49.2654 19.7149M40.0262 65.8326C24.732 50.5383 24.732 25.7439 40.0262 10.4757M30.8131 75.0718C10.4295 54.6881 10.4295 21.6463 30.8131 1.26265" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M104.735 19.5245C114.939 29.7294 114.939 46.2503 104.735 56.4291M113.974 10.3115C129.268 25.6057 129.268 50.4002 113.974 65.6683M123.187 1.07227C143.571 21.4559 143.571 54.4978 123.187 74.8814" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                    <clipPath id="clip0_6453_1726">
                    <rect width="153" height="76" fill="white" transform="translate(0.5 0.0878906)"/>
                    </clipPath>
                </defs>
                </svg>
                <div class="icon_desc">
                Ultra Wide<br> Sound Stage
                </div>
            </div>
            </div>
        </div>
  </div>
  {% comment %} Thunder Beat video {% endcomment %}
  <div class="thunder_banner margin-top-160">
      <div class="banner_header">
        <div class="banner_header_title">
          <video autoplay muted loop preload  playsinline x5-playsinline="true" webkit-playsinline="true" poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
          </video>
          <h2>The Perfect Speaker System For<br> AWOL UST Projector</h2>
        </div>
        <div class="banner_header_desc">
          Meet ThunderBeat, the ideal companion for AWOL Vision's UST Projector. With CenterSync, the UST<br> 
          Projector serves as a center channel speaker, while ThunderBeat's all-wireless 4.2.2 surround sound<br> 
          system completes the setup. Together, they create a revolutionary 5.2.2 configuration for an <br>
          unparalleled home entertainment experience-just like Coffee mate elevates your coffee!
        </div>
        <div class="banner_image">
          <video muted playsInline autoplay loop preload="auto" poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/awolTheaterKV-poster.webp?v=1727489528" x5-playsinline="true" playsinline="true" webkit-playsinline="true">
            <source data-layzr-src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/awolTheaterKV-poster.webp?v=1727489528" src="https://cdn.shopify.com/videos/c/o/v/449bb69d83cd41f6a0a7ca4772cf1cd9.webm" type='video/mp4' codecs="hvc1" />
          </video>
        </div>
      </div> 
      <div class="thunder_introducing thunder_container">
        <div class="thunder_introducing_surround_sound">
            <div class="surround_sound_title">
              AWOL Theater 5.<span>2</span>.2  Surround Sound System
            </div>
            <div class="sunrround_sound_image">
              <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_surround_Infographic.png?v=1727685419" alt="">
              <div class="sunrround_desc">
                <div class="sunrround_desc_item">
                  <div class="number_circle">1</div>
                  Center Channel by UST Projector
                </div>
                <div class="sunrround_desc_item">
                  AWOL ThunderBeat 4.2.2 Dolby Atmos<br>
                  Surround Sound System:
                </div>
                <div class="sunrround_desc_item">
                  <div class="number_circle">2</div>
                  <span class="red">Dual Subwoofers</span>
                </div>
                <div class="sunrround_desc_item">
                  <div class="number_circle">3</div>
                  <div>
                    Left and Right Channels +<br>
                    <span class="blue">2 Upward Firing Channels</span>
                  </div>
                </div>
                <div class="sunrround_desc_item">
                  <div class="number_circle">4</div>
                  Rear Left and Rear Right Channels
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
  {% comment %} Thunder Why Choose {% endcomment %}
  <div class="thunder_room_beat_choose margin-top-160">
      <div class="banner_header_title grid-col-12">
          <video autoplay muted loop  playsinline x5-playsinline="true" webkit-playsinline="true" preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
          </video>
          <h2>Why Choose AWOL<br> ThunderBeat Over Traditional<br> Soundbars?</h2>
      </div>
      <div class="thunder_room_beat_choose_desc">
          While soundbars with compressed sound stages are designed for smaller screens and struggle with ultra-large displays, our ThunderBeat 4.2.2 system delivers an ultra-wide sound field with precise sound placement—whether it’s a plane overhead or footsteps behind you. Offering movie theater-level detail and accuracy, it adapts to any room size or outdoor setup for a fully immersive experience. 
      </div>
      <div class="choose_options">
        <div class="choose_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="184"
            height="28"
            viewBox="0 0 184 28"
            fill="none">
            <rect
              x="1"
              y="4.08789"
              width="182"
              height="20"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <path d="M4 23.2637V25.2637C4 25.816 4.44772 26.2637 5 26.2637H6C6.55228 26.2637 7 25.816 7 25.2637V23.2637" stroke="white" />
            <path d="M177 23.1758V25.1758C177 25.7281 177.448 26.1758 178 26.1758H179C179.552 26.1758 180 25.7281 180 25.1758V23.1758" stroke="white" />
          </svg>
          <div class="choose_item_title">
            Traditional Soundbars
          </div>
          <div class="choose_item_desc">
            <div class="red">Limited Sound Stage, Poor Separation,<br> No immersive sound for Large Screen Projection</div>
          </div>
          <div class="choose_item_image">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/Infographic-wide-4.png?v=1728385249" alt="">
          </div>
        </div>
        <div class="choose_item">
          <svg
            width="198"
            height="68"
            viewBox="0 0 198 68"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect
              x="1"
              y="29.0879"
              width="22"
              height="37"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <rect
              x="29"
              y="29.0879"
              width="22"
              height="37"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <rect
              x="57"
              y="29.0879"
              width="22"
              height="37"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <rect
              x="85"
              y="29.0879"
              width="22"
              height="37"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <rect
              x="113"
              y="1.08789"
              width="39"
              height="62"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <path d="M117 63.0879V65.0879C117 65.6402 117.448 66.0879 118 66.0879H119C119.552 66.0879 120 65.6402 120 65.0879V63.0879" stroke="white" />
            <path d="M145 63.0879V65.0879C145 65.6402 145.448 66.0879 146 66.0879H147C147.552 66.0879 148 65.6402 148 65.0879V63.0879" stroke="white" />
            <rect
              x="158"
              y="1.08789"
              width="39"
              height="62"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <path d="M162 63.0879V65.0879C162 65.6402 162.448 66.0879 163 66.0879H164C164.552 66.0879 165 65.6402 165 65.0879V63.0879" stroke="white" />
            <path d="M190 63.0879V65.0879C190 65.6402 190.448 66.0879 191 66.0879H192C192.552 66.0879 193 65.6402 193 65.0879V63.0879" stroke="white" />
          </svg>
          <div class="choose_item_title">
            AWOL ThunderBeat
          </div>
          <div class="choose_item_desc">
            <div class="blue">ultra-wide soundstage, Flexible placement,<br> immersive surround sound for Any Screen Size</div>
          </div>
          <div class="choose_item_image">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/Infographic-wide-3.png?v=1728385249" alt="">
          </div>
        </div>
      </div>
  </div>
  {% comment %} Thunder Shaking {% endcomment %}
  <div class="thunder_room_shaking thunder_container margin-top-160">
      <div class="banner_header_title grid-col-12">
        <video autoplay muted loop  playsinline x5-playsinline="true" webkit-playsinline="true" preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
          <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
        </video>
        <h2>Room-Shaking Bass<br> With Dual Subwoofers</h2>
      </div>
      <div class="thunder_room_shaking_desc">
        Experience room-shaking, thunderous low-frequency bliss with our surround sound system featuring<br> dual 8'' subwoofers. This setup enhances depth, clarity, and impact, delivering earth-shaking bass that<br> brings movies, music, and games to life.
      </div>
      <div class="thunder_room_shaking_image">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_shaking.png?v=1727508871" alt="">
        <div class="thunder_room_shaking_imgdesc">
          <div class="d_item">
            Dual Subwoofers
            <span>Maximum sweet spots<br> Evenly-Distributed Bass</span>
          </div>
          <div class="d_item">
            Single Subwoofer
            <span>Localized Bass</span>
          </div>
        </div>
      </div>
  </div>
  {% comment %} Thunder beat complication {% endcomment %}
  {% if product.id == 7558711574576 %}
  <div class="thunder_room_complication margin-top-160 thunder_container grid_template">
        <div class="banner_header_title grid-col-12">
            <video autoplay muted  playsinline x5-playsinline="true" webkit-playsinline="true" loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
              <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
            </video>
            <h2>Avoid Complication<br> With Easy Setup</h2>
        </div>
        <div class="desc_container mobile">
            <div class="desc_title">
              AWOL ThunderBeat All-Wireless<br> Surround Sound System
            </div>
            <div class="desc_context">
              <div class="">1. No AV Receiver: Just connect the wireless transmitter to the eARC port.</div>
              <div class="">2. Minimal Wiring: Only the power cable is needed.</div>
              <div class="">3. 15-Minute Setup: Seamless audio synchronization in minutes.</div>
            </div>
        </div>
        <div class="thunder_room_complication_images">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_dongle.png?v=1727515739" alt="">
        </div>
        <div class="thunder_room_complication_images mobile">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_complication_mobile.png?v=1727599940" alt="">
        </div>
        <div class="complication_list grid-col-12 pc">
            <div class="complication_item_image">
              <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_Infographic-cords.png?v=1727516859" alt="">
            </div>
            <div class="complication_item_desc">
              <div class="desc_container">
                <div class="desc_title">
                  Traditional Wired Sound System<br> with <span class="red">AV-Receiver</span>
                </div>
                <div class="desc_context">
                  <div class="">1. Costly and Complicated.</div>
                  <div class="">2. Expensive AV receivers drive up costs.</div>
                  <div class="">3. Complicated wiring setups require time and effort.</div>
                  <div class="">4. Professional installation can add thousands of dollars to your total cost.</div>
                </div>
              </div>
              <div class="desc_container">
                <div class="desc_title">
                  AWOL ThunderBeat All-Wireless<br> Surround Sound System
                </div>
                <div class="desc_context">
                  <div class="">1. No AV Receiver: Just connect the wireless transmitter to the eARC port.</div>
                  <div class="">2. Minimal Wiring: Only the power cable is needed.</div>
                  <div class="">3. 15-Minute Setup: Seamless audio synchronization in minutes.</div>
                </div>
              </div>
            </div>
        </div>
  </div>
  {% endif %}
  {% comment %} Thunder Beat introducing {% endcomment %}
  <div class="thunder_introducing margin-top-160 thunder_container grid_template">
    <div class="banner_header_title grid-col-12">
          <video autoplay muted  playsinline x5-playsinline="true" webkit-playsinline="true" loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
          </video>
          <h2>Introducing AWOL Theater</h2>
    </div>
    <div class="thunder_introducing_icons">
          <div class="icon_item">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="43" viewBox="0 0 72 43" fill="none">
              <path d="M7.73138 1.43945H64.2685C67.4405 1.43945 70.0199 4.01514 70.0199 7.19085V31.9453C70.0199 37.1844 65.7649 41.4395 60.5257 41.4395H11.4742C6.23499 41.4395 1.97998 37.1844 1.97998 31.9453V7.19085C1.97998 4.01514 4.55567 1.43945 7.73138 1.43945Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
              <path d="M41.7056 28.2975H30.2906C30.0562 28.2975 29.8662 28.4875 29.8662 28.7219V31.1878C29.8662 31.4222 30.0562 31.6122 30.2906 31.6122H41.7056C41.94 31.6122 42.13 31.4222 42.13 31.1878V28.7219C42.13 28.4875 41.94 28.2975 41.7056 28.2975Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
              <g opacity="0.4">
                <path d="M63.6904 17.1936H8.30949C7.47699 17.1936 6.80212 17.8685 6.80212 18.701V31.9563C6.80212 32.7887 7.47699 33.4636 8.30949 33.4636H63.6904C64.5229 33.4636 65.1978 32.7887 65.1978 31.9563V18.701C65.1978 17.8685 64.5229 17.1936 63.6904 17.1936Z" stroke="white" stroke-miterlimit="10"/>
                <path d="M63.6867 17.1936L41.7019 28.2976" stroke="white" stroke-miterlimit="10"/>
                <path d="M8.30939 17.1936L30.2942 28.2976" stroke="white" stroke-miterlimit="10"/>
              </g>
            </svg>
            <div class="icon_desc">
              No.1 RGB UST Laser<br> Projector & Center<br> Channel Speaker
            </div>
            <div class="plus_icon">+</div>
          </div>
          <div class="icon_item">
            <svg class="pc" xmlns="http://www.w3.org/2000/svg" width="148" height="52" viewBox="0 0 148 52" fill="none">
              <rect x="1" y="22.8417" width="16.3878" height="27.5612" rx="3" stroke="white" stroke-width="2"/>
              <rect x="21.8571" y="22.8417" width="16.3878" height="27.5612" rx="3" stroke="white" stroke-width="2"/>
              <rect x="42.7143" y="22.8417" width="16.3878" height="27.5612" rx="3" stroke="white" stroke-width="2"/>
              <rect x="63.5714" y="22.8417" width="16.3878" height="27.5612" rx="3" stroke="white" stroke-width="2"/>
              <rect x="84.4286" y="1.9845" width="29.051" height="46.1837" rx="3" stroke="white" stroke-width="2"/>
              <path d="M87.4081 48.1682V49.4029C87.4081 49.9552 87.8559 50.4029 88.4081 50.4029H88.6428C89.1951 50.4029 89.6428 49.9552 89.6428 49.4029V48.1682" stroke="white"/>
              <path d="M108.265 48.1682V49.4029C108.265 49.9552 108.713 50.4029 109.265 50.4029H109.5C110.052 50.4029 110.5 49.9552 110.5 49.4029V48.1682" stroke="white"/>
              <rect x="117.949" y="1.9845" width="29.051" height="46.1837" rx="3" stroke="white" stroke-width="2"/>
              <path d="M120.929 48.1682V49.4029C120.929 49.9552 121.376 50.4029 121.929 50.4029H122.163C122.716 50.4029 123.163 49.9552 123.163 49.4029V48.1682" stroke="white"/>
              <path d="M141.786 48.1682V49.4029C141.786 49.9552 142.233 50.4029 142.786 50.4029H143.02C143.573 50.4029 144.02 49.9552 144.02 49.4029V48.1682" stroke="white"/>
            </svg>
            <svg class="mobile" width="70" height="73" viewBox="0 0 70 73" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Frame 251" clip-path="url(#clip0_6747_2287)">
              <rect id="Rectangle 211" x="1" y="1.5" width="14" height="24" rx="3" stroke="white" stroke-width="2"/>
              <rect id="Rectangle 211_2" x="19" y="1.5" width="14" height="24" rx="3" stroke="white" stroke-width="2"/>
              <rect id="Rectangle 211_3" x="37" y="1.5" width="14" height="24" rx="3" stroke="white" stroke-width="2"/>
              <rect id="Rectangle 211_4" x="55" y="1.5" width="14" height="24" rx="3" stroke="white" stroke-width="2"/>
              <g id="Group 260">
              <rect id="Rectangle 212" x="8" y="29.5" width="25" height="40" rx="3" stroke="white" stroke-width="2"/>
              <path id="Rectangle 217" d="M11 69.5V70.5C11 71.0523 11.4477 71.5 12 71.5V71.5C12.5523 71.5 13 71.0523 13 70.5V69.5" stroke="white"/>
              <path id="Rectangle 217_2" d="M28 69.5V70.5C28 71.0523 28.4477 71.5 29 71.5V71.5C29.5523 71.5 30 71.0523 30 70.5V69.5" stroke="white"/>
              </g>
              <g id="Group 260_2">
              <rect id="Rectangle 212_2" x="37" y="29.5" width="25" height="40" rx="3" stroke="white" stroke-width="2"/>
              <path id="Rectangle 217_3" d="M40 69.5V70.5C40 71.0523 40.4477 71.5 41 71.5V71.5C41.5523 71.5 42 71.0523 42 70.5V69.5" stroke="white"/>
              <path id="Rectangle 217_4" d="M57 69.5V70.5C57 71.0523 57.4477 71.5 58 71.5V71.5C58.5523 71.5 59 71.0523 59 70.5V69.5" stroke="white"/>
              </g>
              </g>
              <defs>
              <clipPath id="clip0_6747_2287">
              <rect width="70" height="72" fill="white" transform="translate(0 0.5)"/>
              </clipPath>
              </defs>
            </svg>
            <div class="icon_desc">
              AWOL ThunderBeat<br> 4.2.2 Surround<br> Sound System
            </div>
            <div class="plus_icon">+</div>
          </div>
          <div class="icon_item">
            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="52" viewBox="0 0 69 52" fill="none">
              <path d="M1.66669 3.6894C1.66669 2.50137 2.69622 1.57526 3.87763 1.70056L65.8776 8.27632C66.8948 8.3842 67.6667 9.24225 67.6667 10.2652V42.122C67.6667 43.1449 66.8948 44.0029 65.8776 44.1108L3.87763 50.6866C2.69622 50.8119 1.66669 49.8858 1.66669 48.6977V3.6894Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
            <div class="icon_desc">
              Premium<br> ALR Screen
            </div>
          </div>
    </div>
    <div class="thunder_introducing_desc">
          The brightest RGB laser projector, combined with the most powerful All-wireless 5.2.2 surround sound system, offers the ultimate fusion of visuals and sound. The groundbreaking CenterSync feature allows the UST projector to function as a center channel speaker, delivering exceptional image quality and crystal-clear dialogue. Paired with the ThunderBeat 4.2.2 system, this setup creates a unique 5.2.2 configuration, ensuring an unparalleled audio-visual experience for home entertainment.
    </div>
    <div class="thunder_introducing_banner">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_introducing_banner.webp?v=1727494801" alt="thunder_introducing_banner">
    </div>
  </div>
  {% if product.id == 7558711574576 %}
    <div class="thunder_room_show margin-top-160">
      <div class="show_one thunder_container">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_endLifestyle2.png?v=1727518609" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_mounting1.png?v=1727518617" alt="">
      </div>
      <div class="show_two">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_showbanner.webp?v=1727518774" alt="">
      </div>
    </div>
    {% comment %} FAQ some some {% endcomment %}
    {% render 'accordion-container' with title: 'Full Spec Of AWOL ThunderBeat' %}
    {% render 'accordion-comparison' %}
  {% endif %}
  <div style="height: 40px;width: 100%;"></div>
</div>
<script src="{{ 'thunder_beat.js' | asset_url }}"></script>
<script defer src="{{ 'thunder-room-products-and-dialog.js' | asset_url }}"></script>