
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-498912058650133277.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-498912058650133277.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-498912058650133277.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-498912058650133277.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-498912058650133277.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-498912058650133277.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-498912058650133277.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-498912058650133277.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-498912058650133277.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-498912058650133277.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-498912058650133277.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-498912058650133277.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-498912058650133277.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-498912058650133277.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-498912058650133277.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-498912058650133277.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-498912058650133277.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-498912058650133277.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-498912058650133277.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-498912058650133277.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-498912058650133277.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-498912058650133277.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-498912058650133277.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-498912058650133277.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-498912058650133277.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-498912058650133277.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-498912058650133277.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-498912058650133277.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-498912058650133277.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-498912058650133277.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-498912058650133277.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-498912058650133277.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-498912058650133277.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-498912058650133277.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-498912058650133277.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-498912058650133277.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-498912058650133277.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-498912058650133277.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-498912058650133277.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-498912058650133277.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-498912058650133277.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-498912058650133277.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-498912058650133277.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-498912058650133277.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-498912058650133277.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-498912058650133277.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-498912058650133277.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-498912058650133277.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-498912058650133277.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-498912058650133277.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-498912058650133277 .gp-relative{position:relative}.gps-498912058650133277 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-498912058650133277 .gp-mb-0{margin-bottom:0}.gps-498912058650133277 .\!gp-inline{display:inline!important}.gps-498912058650133277 .gp-flex{display:flex}.gps-498912058650133277 .gp-grid{display:grid}.gps-498912058650133277 .\!gp-hidden{display:none!important}.gps-498912058650133277 .gp-hidden{display:none}.gps-498912058650133277 .gp-h-full{height:100%}.gps-498912058650133277 .gp-w-full{width:100%}.gps-498912058650133277 .gp-max-w-full{max-width:100%}.gps-498912058650133277 .gp-flex-col{flex-direction:column}.gps-498912058650133277 .gp-gap-y-0{row-gap:0}.gps-498912058650133277 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-498912058650133277 .gp-duration-200{transition-duration:.2s}.gps-498912058650133277 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-498912058650133277 .tablet\:\!gp-hidden{display:none!important}.gps-498912058650133277 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-498912058650133277 .mobile\:\!gp-hidden{display:none!important}.gps-498912058650133277 .mobile\:gp-hidden{display:none}}.gps-498912058650133277 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage id="gLXeYfpZ4A" data-id="gLXeYfpZ4A"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:20px;--pb:20px;--pt-mobile:56px;--pb-mobile:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#DDDDDD;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLXeYfpZ4A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM068mLi02 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="g_kNYwXTa9" data-id="g_kNYwXTa9"
        style="--mb:var(--g-s-l);--pl:40px;--pr:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_kNYwXTa9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBRWa96x_u gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghvdU5F2Lj"
    role="presentation"
    class="gp-group/image ghvdU5F2Lj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:var(--g-s-m);--ta:left;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:right"
      >
        
  <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png" | asset_url }}" data-srcset="{{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: '768x' }} 768w, {{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: '1024x' }} 1024w, {{ '490834883761931106-ecb02c10-1b7c-426e-b834-232d24239dee.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAwLTMwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0idXJsKCNnLTMwMC0zMDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDAiIHRvPSIzMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="300" height="300" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:300/300;--aspect-tablet:300/300;--aspect-mobile:300/300;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div><div
      enableLazyloadImage tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gY8CQPw0T- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gna5HbAb3I"
    role="presentation"
    class="gp-group/image gna5HbAb3I"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:var(--g-s-m);--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:left"
      >
        
  <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png" | asset_url }}" data-srcset="{{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: '768x' }} 768w, {{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: '1024x' }} 1024w, {{ '490834883761931106-9856027c-9099-4a1d-9a71-c2aa3b806038.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYwIiBoZWlnaHQ9IjU4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNjAtNTgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI2MCIgaGVpZ2h0PSI1OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjYwIiBoZWlnaHQ9IjU4IiBmaWxsPSJ1cmwoI2ctMjYwLTU4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjYwIiB0bz0iMjYwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" width="260" height="58" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:260/58;--aspect-tablet:260/58;--aspect-mobile:260/58;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div><div
      enableLazyloadImage tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g9RqPvYum- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="guJUTkxAhh"
    role="presentation"
    class="gp-group/image guJUTkxAhh"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--ta:left;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:right"
      >
        
  <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png" | asset_url }}" data-srcset="{{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: '768x' }} 768w, {{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: '1024x' }} 1024w, {{ '490834883761931106-0cc56e60-af1b-4655-bcfb-0eb83dd9f8df.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk5IiBoZWlnaHQ9Ijg5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTktODkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5OSIgaGVpZ2h0PSI4OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk5IiBoZWlnaHQ9Ijg5IiBmaWxsPSJ1cmwoI2ctMjk5LTg5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk5IiB0bz0iMjk5IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" width="299" height="89" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:299/89;--aspect-tablet:299/89;--aspect-mobile:299/89;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div><div
      enableLazyloadImage tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gL9bpLhEA2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gsko5Xn8Rl"
    role="presentation"
    class="gp-group/image gsko5Xn8Rl"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:left"
      >
        
  <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png" | asset_url }}" data-srcset="{{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: '768x' }} 768w, {{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: '1024x' }} 1024w, {{ '490834883761931106-393d20dc-5834-41b1-98cd-ce83031902e3.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAwLTMwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0idXJsKCNnLTMwMC0zMDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDAiIHRvPSIzMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="300" height="300" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:300/300;--aspect-tablet:300/300;--aspect-mobile:300/300;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div><div
      enableLazyloadImage tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gE56cD2vms gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gAQokazpKD"
    role="presentation"
    class="gp-group/image gAQokazpKD"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:left"
      >
        
  <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png" | asset_url }}" data-srcset="{{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: '768x' }} 768w, {{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: '1024x' }} 1024w, {{ '490834883761931106-950cbea6-b36e-423b-9f5b-6bf6ef7014c8.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzU2IiBoZWlnaHQ9IjEwMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzU2LTEwMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzU2IiBoZWlnaHQ9IjEwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzU2IiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNnLTM1Ni0xMDEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTYiIHRvPSIzNTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="356" height="101" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:356/101;--aspect-tablet:356/101;--aspect-mobile:356/101;--objf:cover;--w:160px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "Social logos" }],
    "name": "Social logos",
    "tag": "section",
    "class": "gps-498912058650133277 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=498912058650133277)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"en":{}}
  }
{% endschema %}
