

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-491600363938382970.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-491600363938382970.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-491600363938382970.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-491600363938382970.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-491600363938382970.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-491600363938382970.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-491600363938382970.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-491600363938382970.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-491600363938382970.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-491600363938382970.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-491600363938382970.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-491600363938382970.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-491600363938382970.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-491600363938382970.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-491600363938382970.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-491600363938382970.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-491600363938382970.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-491600363938382970.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-491600363938382970.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-491600363938382970.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-491600363938382970.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-491600363938382970.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-491600363938382970.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-491600363938382970.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-491600363938382970.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-491600363938382970.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-491600363938382970.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-491600363938382970.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-491600363938382970.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-491600363938382970.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-491600363938382970.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-491600363938382970.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-491600363938382970.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-491600363938382970.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-491600363938382970.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-491600363938382970.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-491600363938382970.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-491600363938382970.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-491600363938382970.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-491600363938382970.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-491600363938382970.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-491600363938382970.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-491600363938382970.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-491600363938382970.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-491600363938382970.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-491600363938382970.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-491600363938382970.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-491600363938382970.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-491600363938382970.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-491600363938382970.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-491600363938382970.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-491600363938382970.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-491600363938382970.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-491600363938382970.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-491600363938382970.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-491600363938382970.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-491600363938382970.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-491600363938382970.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-491600363938382970.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-491600363938382970.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-491600363938382970 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-491600363938382970 .gp-absolute{position:absolute}.gps-491600363938382970 .gp-relative{position:relative}.gps-491600363938382970 .gp-z-1{z-index:1}.gps-491600363938382970 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-491600363938382970 .gp-mb-0{margin-bottom:0}.gps-491600363938382970 .gp-flex{display:flex}.gps-491600363938382970 .gp-grid{display:grid}.gps-491600363938382970 .\!gp-hidden{display:none!important}.gps-491600363938382970 .gp-hidden{display:none}.gps-491600363938382970 .gp-h-full{height:100%}.gps-491600363938382970 .gp-w-full{width:100%}.gps-491600363938382970 .gp-max-w-full{max-width:100%}.gps-491600363938382970 .gp-flex-col{flex-direction:column}.gps-491600363938382970 .gp-items-center{align-items:center}.gps-491600363938382970 .\!gp-justify-center{justify-content:center!important}.gps-491600363938382970 .gp-gap-y-0{row-gap:0}.gps-491600363938382970 .gp-overflow-hidden{overflow:hidden}.gps-491600363938382970 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-491600363938382970 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-491600363938382970 .gp-duration-200{transition-duration:.2s}.gps-491600363938382970 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-491600363938382970 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-491600363938382970 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}}@media (max-width:1023px){.gps-491600363938382970 .tablet\:gp-relative{position:relative}.gps-491600363938382970 .tablet\:\!gp-hidden{display:none!important}.gps-491600363938382970 .tablet\:gp-hidden{display:none}.gps-491600363938382970 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-491600363938382970 .mobile\:gp-relative{position:relative}.gps-491600363938382970 .mobile\:\!gp-hidden{display:none!important}.gps-491600363938382970 .mobile\:gp-hidden{display:none}.gps-491600363938382970 .mobile\:\!gp-justify-center{justify-content:center!important}}.gps-491600363938382970 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gMIMHoOX_M" data-id="gMIMHoOX_M"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(undefined);--pb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMIMHoOX_M gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk6Ol1BYhJ gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex;--mt:0px;--mb:-21px;--mr:auto;--mt-tablet:-13px;--mb-tablet:-46px">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"490834883761931106-6b267bb1-040e-4748-965f-a2d9fb0ad658.png","height":1278,"src":"https://ucarecdn.com/19737ef9-0a62-477b-a723-0bd218fc2bdb/-/format/auto/","width":1920},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"490834883761931106-6b267bb1-040e-4748-965f-a2d9fb0ad658.png","height":1278,"src":"https://ucarecdn.com/19737ef9-0a62-477b-a723-0bd218fc2bdb/-/format/auto/","width":1920},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"local","color":"bg-2","image":{"backupFileKey":"490834883761931106-01249fa5-a721-4915-ab44-4185646b69d6.jpg","height":1400,"src":"https://ucarecdn.com/b94325b9-15d7-4103-b8ca-882629f1175b/-/format/auto/","width":1000},"position":{"x":50,"y":50},"repeat":"repeat-y","size":"cover","type":"image"}},"uid":"gdc9tL4VrM","enableParallax":false,"speedParallax":0,"hoverEffect":"none","hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}}}'
        
        class="gdc9tL4VrM gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--pt-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:auto;--w-mobile:auto"
        data-id="gdc9tL4VrM"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:auto;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "490834883761931106-01249fa5-a721-4915-ab44-4185646b69d6_768x.jpg" | asset_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxNDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTE0MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxNDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xNDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "490834883761931106-6b267bb1-040e-4748-965f-a2d9fb0ad658_1024x.png" | asset_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxMjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTEyNzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTI3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxMjc4IiBmaWxsPSJ1cmwoI2ctMTkyMC0xMjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "490834883761931106-6b267bb1-040e-4748-965f-a2d9fb0ad658.png" | asset_url }}"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:repeat-y;--bgi:url('{{ "490834883761931106-6b267bb1-040e-4748-965f-a2d9fb0ad658.png" | asset_url }}');--bgi-tablet:url('{{ "490834883761931106-6b267bb1-040e-4748-965f-a2d9fb0ad658_1024x.png" | asset_url }}');--bgi-mobile:url('{{ "490834883761931106-01249fa5-a721-4915-ab44-4185646b69d6_768x.jpg" | asset_url }}');--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--cg:var(--g-s-2xl);--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQ_rEct8SW gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-491600363938382970 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/awol-vision/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=491600363804165242&sectionId=491600363938382970)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
