<style>
  .shopify-section--shop-video {
    background-color: {{ section.settings.background }};
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 1024px) {
    .shopify-section--shop-video {
      padding-top: 60px;
      margin-top: -1px;
    }
  }
</style>

<section class="index_shop-video">
  <a aria-label="{{ section.settings.header_title }}" href="{% if section.settings.header_url != blank %}{{ section.settings.header_url }}{% else %}javascript:;{% endif %}" class="shop_header">
    <h2 class="header_title">{{ section.settings.header_title }}</h2>
    {% if section.settings.header_subtitle != blank %}
      <h3 class="header_subtitle">{{ section.settings.header_subtitle }}</h3>
    {% endif %}
  </a>
  <div class="index_video_container">
    {{
      section.settings.video_url | video_tag:
      image_size: '1200x',
      autoplay: true,
      loop: true,
      controls: false,
      muted: true,
      playsinline: "playsinline",
      x5-playsinline: true,
      webkit-playsinline: true,
      alt: ""
    }}
  </div>
  <div class="index_video_cards">
    {% for block in section.blocks %}
      <a aria-label="{{ block.settings.card_title }}" href="{{ block.settings.link_to }}" class="card_item">
        <div class="card_title">
          <div class="card_main_header">{{ block.settings.card_title }}</div>
          <div class="card_desc">{{ block.settings.card_desc }}</div>
        </div>
        <div class="card_svg">
          {{ block.settings.svg_code }}
        </div>
      </a>  
    {% endfor %}
  </div>
</section>
 
{% schema %}
{
  "name": "Index video",
  "class": "shopify-section--shop-video", 
  "blocks": [
    {
      "type": "video_cards",
      "name": "video_cards",
      "settings": [
        {
          "type": "url",
          "id": "link_to",
          "label": "Card link to"
        },
        {
          "type": "textarea",
          "id": "card_title",
          "label": "Card title"
        },
        {
          "type": "textarea",
          "id": "card_desc",
          "label": "Card desc"
        },
        {
          "type": "textarea",
          "id": "svg_code",
          "label": "Card svg code"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "header_title",
      "label": "Header title"
    },
    {
      "type": "text",
      "id": "header_subtitle",
      "label": "Header subtitle"
    },
    {
      "type": "url",
      "id": "header_url",
      "label": "Link to"
    },
    {
      "type": "video",
      "id": "video_url",
      "label": "Video"
    },
    {
      "type": "range",
      "id": "grid_columns_template",
      "label": "Grid columns template",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_compare",
      "label": "Is show compare",
      "default": false
    },
    {
      "type": "header",
      "content": "Color",
      "info": "Color"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Endorsed container background color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Index video",
      "blocks": []
    }
  ]
}
{% endschema %}