{{ 'thunder-room.css' | asset_url | stylesheet_tag }}
{{ 'thunder-beat.css' | asset_url | stylesheet_tag }}
{{ 'thunder-room-products-and-dialog.css' | asset_url | stylesheet_tag }}
<div class="main_container">
   {% comment %} 导航栏 {% endcomment %}
   <div class="thunder_nav">
    <div class="grid_template thunder_container">
      <div class="grid-col-12 thunder_nav_control">
        <div class="thunder_nav_title">AWOL ThunderBeat <a href="https://awolvision.com/pages/awol-theater" class="thunder_nav_subtitle">AWOL Theater</a></div>
        <div class="thunder_nav_button">
          <a class="dialog_open_btn" href="javascript:void(0)" >Shop All AWOL Theaters</a>
          <a class="a_button" href="https://awolvision.com/products/thunderbeat">BUY NOW</a>
        </div>
      </div>
    </div>
   </div>
   {% comment %} Thunder Banner {% endcomment %}
   <div class="thunder_beat_banner">
    <div class="banner_subtitle">AWOL ThunderBeat</div>
    <div class="banner_header_title grid-col-12">
      <video autoplay muted loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
        <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
      </video>
      <h2>Most Powerful All-Wireless 4.2.2<br> Surround Sound System For<br> Large-Screen Projection</h2>
    </div>
    <div class="banner_desc">A fully wireless surround sound system featuring dual subwoofers, designed for large-screen<br> projection and spacious rooms. Enjoy room-filling sound without the clutter of cables, while<br> maintaining uncompromising audio excellence.</div>
    <div  class="banner_images">
      <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_beat_banner.webp?v=1727613240" alt="">
      <div class="banner_images_desc">
        {% comment %} <div>Deposit Price $2499</div> {% endcomment %}
        <div>MSRP $2999</div>
        {% comment %} <div>Est. Delivery Within 11 working days</div> {% endcomment %}
      </div>
    </div>
    <div class="thunder_beat_icons thunder_container">
        <div class="icon_one">
          <svg xmlns="http://www.w3.org/2000/svg" width="124" height="47" viewBox="0 0 124 47" fill="none">
            <path d="M32.3661 46.0879H30.6609L35.4179 35.1198H36.8118L41.5197 46.0879H39.7856L38.6711 43.3929H33.466L32.3661 46.0879ZM34.0079 42.0451H38.1134L36.0678 36.9009L34.0079 42.0451ZM48.4528 36.4675H51.9699V35.1198H43.4031V36.4675H46.9189V46.0879H48.4528V36.4675ZM58.56 35.1198H56.1756V46.0879H57.6617V36.9166H57.6922L61.3175 46.0879H62.2934L65.9333 36.9166H65.9649V46.0879H67.4985V35.1198H65.1141L61.8753 43.5465H61.8434L58.56 35.1198ZM82.8456 40.589C82.8456 41.3953 82.7045 42.1341 82.4248 42.8066C82.1454 43.4793 81.759 44.0583 81.2696 44.5449C80.7778 45.031 80.1935 45.4087 79.5169 45.679C78.8377 45.948 78.1019 46.0827 77.3067 46.0827C76.5115 46.0827 75.7769 45.948 75.1056 45.679C74.4317 45.4086 73.8514 45.0309 73.3596 44.5449C72.8676 44.0583 72.4866 43.4793 72.2107 42.8066C71.9351 42.1341 71.798 41.3953 71.798 40.589C71.798 39.7747 71.9351 39.0307 72.2107 38.3582C72.4866 37.6855 72.8676 37.1118 73.3596 36.6344C73.8514 36.1585 74.4317 35.7879 75.1056 35.522C75.7769 35.2576 76.5115 35.1251 77.3067 35.1251C78.1019 35.1251 78.8378 35.2576 79.5169 35.522C80.1935 35.7879 80.7778 36.1585 81.2696 36.6344C81.759 37.1119 82.1454 37.6856 82.4248 38.3582C82.7047 39.0307 82.8456 39.7747 82.8456 40.589ZM81.2696 40.589C81.2696 40.0192 81.1747 39.483 80.9901 38.9766C80.8014 38.4715 80.5379 38.0259 80.1935 37.6433C79.8493 37.2603 79.4351 36.9588 78.9487 36.7371C78.4634 36.5171 77.9145 36.4061 77.3067 36.4061C76.708 36.4061 76.1646 36.5171 75.6793 36.7371C75.1941 36.9588 74.7799 37.2603 74.4423 37.6433C74.1033 38.0259 73.8408 38.4715 73.6538 38.9766C73.4678 39.483 73.374 40.0192 73.374 40.589C73.374 41.1686 73.4678 41.7139 73.6538 42.2244C73.8409 42.7347 74.106 43.179 74.449 43.5577C74.7928 43.9355 75.2059 44.2329 75.6858 44.4487C76.1673 44.6648 76.708 44.7729 77.3067 44.7729C77.9053 44.7729 78.4501 44.6648 78.9408 44.4487C79.4327 44.233 79.8493 43.9355 80.1937 43.5577C80.5379 43.179 80.8014 42.7347 80.9902 42.2244C81.1749 41.714 81.2696 41.1686 81.2696 40.589ZM93.2351 36.3187C92.912 35.9552 92.4833 35.6664 91.9546 35.4503C91.4243 35.2346 90.8547 35.1264 90.2469 35.1264C89.8156 35.1264 89.3858 35.183 88.957 35.2952C88.5309 35.4086 88.1474 35.5879 87.8097 35.8326C87.4707 36.0786 87.1952 36.3879 86.984 36.7603C86.7731 37.1343 86.6688 37.5801 86.6688 38.1016C86.6688 38.5824 86.7468 38.9845 86.9037 39.3077C87.0606 39.6315 87.2665 39.9045 87.5223 40.1261C87.7767 40.3457 88.068 40.5284 88.3913 40.6701C88.7144 40.812 89.0442 40.9334 89.3777 41.0322C89.7114 41.139 90.028 41.2438 90.3273 41.3481C90.6268 41.4509 90.8904 41.5762 91.1146 41.7232C91.3416 41.8709 91.5196 42.0503 91.6526 42.2607C91.7859 42.4718 91.8519 42.7348 91.8519 43.048C91.8519 43.3633 91.7873 43.6302 91.6592 43.8506C91.5326 44.0722 91.3678 44.2556 91.1674 44.4033C90.9657 44.5502 90.7413 44.6584 90.4976 44.7271C90.2509 44.7963 90.0055 44.8299 89.7616 44.8299C89.2786 44.8299 88.8331 44.7178 88.4203 44.4922C88.0076 44.2666 87.6792 43.9719 87.4339 43.6085L86.2998 44.5646C86.7019 45.0658 87.2097 45.4443 87.8227 45.6995C88.4375 45.9546 89.0718 46.0812 89.7312 46.0812C90.1928 46.0812 90.6398 46.0179 91.0778 45.8913C91.5156 45.7627 91.9007 45.5695 92.2344 45.309C92.5677 45.0487 92.8357 44.7204 93.0374 44.3219C93.2367 43.9251 93.3381 43.4563 93.3381 42.9161C93.3381 42.3958 93.2459 41.9666 93.0585 41.6277C92.8728 41.2887 92.6327 41.0077 92.3373 40.7809C92.0432 40.5554 91.7134 40.3747 91.3509 40.2361C90.9869 40.099 90.6294 39.9756 90.276 39.8683C89.9805 39.7692 89.7051 39.673 89.4438 39.58C89.1828 39.4882 88.9571 39.3749 88.7673 39.2423C88.5759 39.1099 88.423 38.9468 88.3097 38.7564C88.1977 38.5644 88.1409 38.3271 88.1409 38.0415C88.1409 37.7475 88.2016 37.4949 88.3242 37.2832C88.447 37.0723 88.6066 36.8953 88.8031 36.7537C88.9996 36.6117 89.2184 36.5077 89.4583 36.4443C89.6985 36.3797 89.937 36.3482 90.1733 36.3482C90.6151 36.3482 91.012 36.4391 91.3653 36.6211C91.7188 36.8018 91.9983 37.0359 92.2054 37.3194L93.2351 36.3187ZM0 24.1628H3.55285C10.1811 24.1628 15.5869 18.7569 15.5869 12.1259C15.5869 5.494 10.1811 0.0893787 3.55285 0.0893787H0V24.1628ZM34.2453 0.0892547H30.6938C24.0628 0.0892547 18.6583 5.49387 18.6583 12.1258C18.6583 18.7569 24.0627 24.1626 30.6938 24.1626H34.2453V0.0892547ZM50.2292 0.0878906H41.5358V24.1628H50.2292C56.8653 24.1628 62.2657 18.7621 62.2657 12.1259C62.2659 5.48854 56.8653 0.0878906 50.2292 0.0878906ZM50.2278 20.5128H47.7538H45.1834V3.73784H47.7538H50.2278C54.849 3.73784 58.6153 7.50448 58.6153 12.1259C58.6153 16.7462 54.849 20.5128 50.2278 20.5128ZM72.4589 7.50299C67.8578 7.50299 64.1174 11.244 64.1174 15.8442C64.1174 20.445 67.8576 24.1858 72.4589 24.1858C77.0587 24.1858 80.799 20.445 80.799 15.8442C80.7989 11.244 77.0586 7.50299 72.4589 7.50299ZM72.4589 20.8433C69.6682 20.8433 67.4302 18.5734 67.4302 15.8137C67.4302 13.0223 69.6987 10.7849 72.4589 10.7849C75.2177 10.7849 77.4875 13.0534 77.4875 15.8137C77.4874 18.6045 75.2177 20.8433 72.4589 20.8433ZM83.1597 24.1912H86.8088V0.0917348H83.1597V24.1912ZM98.3021 7.50448C96.5295 7.50448 94.8864 8.06101 93.5332 9.00791V0.0917348H89.8763L89.8775 24.1912H93.5332V22.6831C94.8864 23.6293 96.5295 24.1872 98.3021 24.1872C102.902 24.1872 106.645 20.4449 106.645 15.8453C106.645 11.2455 102.902 7.50448 98.3021 7.50448ZM98.3021 20.8433C96.072 20.8433 94.1954 19.3919 93.5332 17.3984C93.3672 16.8998 93.2734 16.3677 93.2734 15.8151C93.2734 15.2592 93.3672 14.7258 93.5332 14.2271C94.2007 12.2219 96.0918 10.7849 98.3021 10.7849C101.062 10.7849 103.332 13.0548 103.332 15.815C103.332 18.6059 101.062 20.8433 98.3021 20.8433ZM120.013 7.50833L115.261 18.1976L110.505 7.50833H106.518L113.265 22.6746L113.131 22.9692L113.083 23.0741L111.622 26.3739L111.613 26.3996C111.175 27.3801 110.021 27.8239 109.042 27.3868L108.519 27.1546L107.499 29.4449L107.046 30.4602H107.047L107.052 30.4628L108.316 31.0259C110.688 32.085 113.486 31.0082 114.548 28.6304C114.558 28.6101 123.189 9.32115 124 7.50833H120.013Z" fill="white"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="144" height="43" viewBox="0 0 144 43" fill="none">
            <path d="M90.9106 28.337L86.3202 23.7534C85.7214 23.1555 85.3722 22.3085 85.3722 21.4117C85.3722 19.5683 86.869 18.0737 88.7152 18.0737H91.0104C91.7588 18.0737 92.3576 17.4758 92.3576 16.7285V14.2374H73.3472C70.1539 14.2374 67.5094 16.8281 67.5094 20.0666C67.5094 21.6609 68.158 23.1057 69.2058 24.1519L73.8462 28.7854C74.4449 29.3833 74.7942 30.2302 74.7942 31.127C74.7942 32.9705 73.2973 34.4651 71.4511 34.4651H64.316C61.5218 34.4651 59.2266 32.1733 59.2266 29.3833V18.1235H63.6175C64.3659 18.1235 64.9647 17.5256 64.9647 16.7783V14.2872H59.2266V1.8815L44.3077 8.40818V14.2872H37.0728V0.0878906H25.9958C23.8503 0.0878906 22.1538 1.78185 22.1538 3.9242V14.2872H14.1705C5.83784 14.2872 0 18.7712 0 26.2943C0 33.0203 6.83576 38.3014 14.1705 38.3014H31.9335C34.7277 38.3014 37.0229 36.0096 37.0229 33.2196V18.1235H44.2578C44.2578 18.1235 44.2578 25.8957 44.2578 27.9384C44.2578 33.5185 47.6008 38.3014 54.4865 38.3014H86.7692C89.9626 38.3014 92.6071 35.7107 92.6071 32.4722C92.6071 30.8779 91.9584 29.4331 90.9106 28.337ZM22.1538 33.6181C22.1538 34.0665 21.8046 34.4651 21.3056 34.4651H20.8067C15.6175 34.4651 13.7214 30.8779 13.6715 26.2943C13.7214 21.5114 15.7173 18.1235 20.8067 18.1235H22.1538V33.6181Z" fill="white"/>
            <path d="M142.503 36.5576C142.803 36.458 142.952 36.2587 142.952 35.9598C142.952 35.7605 142.902 35.6608 142.803 35.5612C142.653 35.4117 142.453 35.3619 142.204 35.3619H141.306V37.3548H141.705V36.6573H142.104L142.603 37.3548H143.052L142.503 36.5576ZM141.705 36.2587V35.611H142.204C142.453 35.611 142.603 35.7107 142.603 35.9099C142.603 36.1092 142.453 36.2089 142.204 36.2089H141.705V36.2587Z" fill="white"/>
            <path d="M142.104 34.4651C141.006 34.4651 140.158 35.3619 140.158 36.4082C140.158 37.4544 141.006 38.3014 142.054 38.3014C143.152 38.3014 144 37.4046 144 36.3583C144 35.3121 143.202 34.4651 142.104 34.4651ZM143.701 36.3583C143.701 37.2551 143.002 38.0025 142.054 38.0025C141.106 38.0025 140.457 37.2551 140.457 36.3583C140.457 35.4615 141.156 34.7142 142.104 34.7142C143.002 34.7142 143.701 35.4615 143.701 36.3583Z" fill="white"/>
            <path d="M113.813 14.2374H100.94L111.967 25.248L118.403 18.821L113.813 14.2374Z" fill="white"/>
            <path d="M124.99 38.2516H137.863L126.786 27.2409L143.651 10.4011H131.376L99.5925 42.0879H111.917L120.349 33.668L124.99 38.2516Z" fill="white"/>
          </svg>
        </div>
        <div class="icon_two">
          <div class="two_itme">
            <svg xmlns="http://www.w3.org/2000/svg" width="98" height="77" viewBox="0 0 98 77" fill="none">
              <g clip-path="url(#clip0_6471_1786)">
                <path d="M69.9305 75.0881L63.7085 51.2881H68.8085L72.8205 69.7161L77.6485 51.2881H82.8845L87.5425 69.7161L91.6225 51.2881H96.7565L90.3645 75.0881H84.6865L80.1985 57.9861L75.5745 75.0881H69.9305Z" fill="white"/>
                <path d="M69.9305 75.0881L63.7085 51.2881H68.8085L72.8205 69.7161L77.6485 51.2881H82.8845L87.5425 69.7161L91.6225 51.2881H96.7565L90.3645 75.0881H84.6865L80.1985 57.9861L75.5745 75.0881H69.9305Z" fill="white"/>
                <path d="M53.202 75.4959C46.674 75.4959 42.73 70.4979 42.73 63.1879C42.73 55.8779 46.674 50.8799 53.202 50.8799C59.73 50.8799 63.64 55.8779 63.64 63.1879C63.64 70.4979 59.73 75.4959 53.202 75.4959ZM53.202 71.2119C56.534 71.2119 58.812 68.1519 58.812 63.1879C58.812 58.2239 56.534 55.1639 53.202 55.1639C49.87 55.1639 47.592 58.2239 47.592 63.1879C47.592 68.1519 49.87 71.2119 53.202 71.2119Z" fill="white"/>
                <path d="M53.202 75.4959C46.674 75.4959 42.73 70.4979 42.73 63.1879C42.73 55.8779 46.674 50.8799 53.202 50.8799C59.73 50.8799 63.64 55.8779 63.64 63.1879C63.64 70.4979 59.73 75.4959 53.202 75.4959ZM53.202 71.2119C56.534 71.2119 58.812 68.1519 58.812 63.1879C58.812 58.2239 56.534 55.1639 53.202 55.1639C49.87 55.1639 47.592 58.2239 47.592 63.1879C47.592 68.1519 49.87 71.2119 53.202 71.2119Z" fill="white"/>
                <path d="M31.4159 75.4959C26.5199 75.4959 22.6439 72.7079 22.6439 68.3899C22.6439 65.5339 24.1739 63.2899 26.5879 62.2699C24.5819 61.3179 23.2219 59.4819 23.2219 57.2379C23.2219 53.9059 26.0099 50.8799 31.4159 50.8799C36.8559 50.8799 39.6099 53.9059 39.6099 57.2379C39.6099 59.4139 38.2499 61.3179 36.2439 62.2699C38.6919 63.2899 40.2219 65.5339 40.2219 68.3899C40.2219 72.7079 36.3119 75.4959 31.4159 75.4959ZM31.4159 71.5519C34.1359 71.5519 35.5299 70.0219 35.5299 67.9819C35.5299 65.7719 34.0339 64.3779 31.4159 64.3779C28.8319 64.3779 27.2679 65.7719 27.2679 67.9819C27.2679 70.0219 28.7299 71.5519 31.4159 71.5519ZM31.4159 60.9099C33.6599 60.9099 34.9519 59.6179 34.9519 57.8499C34.9519 55.9119 33.6599 54.7219 31.4159 54.7219C29.2059 54.7219 27.9479 55.9119 27.9479 57.8499C27.9479 59.6519 29.2059 60.9099 31.4159 60.9099Z" fill="white"/>
                <path d="M31.4159 75.4959C26.5199 75.4959 22.6439 72.7079 22.6439 68.3899C22.6439 65.5339 24.1739 63.2899 26.5879 62.2699C24.5819 61.3179 23.2219 59.4819 23.2219 57.2379C23.2219 53.9059 26.0099 50.8799 31.4159 50.8799C36.8559 50.8799 39.6099 53.9059 39.6099 57.2379C39.6099 59.4139 38.2499 61.3179 36.2439 62.2699C38.6919 63.2899 40.2219 65.5339 40.2219 68.3899C40.2219 72.7079 36.3119 75.4959 31.4159 75.4959ZM31.4159 71.5519C34.1359 71.5519 35.5299 70.0219 35.5299 67.9819C35.5299 65.7719 34.0339 64.3779 31.4159 64.3779C28.8319 64.3779 27.2679 65.7719 27.2679 67.9819C27.2679 70.0219 28.7299 71.5519 31.4159 71.5519ZM31.4159 60.9099C33.6599 60.9099 34.9519 59.6179 34.9519 57.8499C34.9519 55.9119 33.6599 54.7219 31.4159 54.7219C29.2059 54.7219 27.9479 55.9119 27.9479 57.8499C27.9479 59.6519 29.2059 60.9099 31.4159 60.9099Z" fill="white"/>
                <path d="M12.6046 75.0881V70.8721H0.942627V67.0641L11.9926 51.2881H17.3646V66.7241H20.3906V70.8721H17.3646V75.0881H12.6046ZM6.00863 66.7241H12.9106V56.5241L6.00863 66.7241Z" fill="white"/>
                <path d="M12.6046 75.0881V70.8721H0.942627V67.0641L11.9926 51.2881H17.3646V66.7241H20.3906V70.8721H17.3646V75.0881H12.6046ZM6.00863 66.7241H12.9106V56.5241L6.00863 66.7241Z" fill="white"/>
                <path d="M42.3695 0.0878906L37.4695 28.2686H47.2695L42.3695 49.0879L65.6502 19.6879H54.631L64.431 0.0878906H42.3695Z" fill="white"/>
              </g>
              <defs>
                <clipPath id="clip0_6471_1786">
                  <rect width="97" height="76" fill="white" transform="translate(0.5 0.0878906)"/>
                </clipPath>
              </defs>
            </svg>
            <div class="icon_desc">
              Ultra-High<br> Audio Power
            </div>
          </div>
          <div class="two_itme">
            <svg width="78" height="79" viewBox="0 0 78 79" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="1" y="1.08789" width="76" height="76" rx="10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="39" cy="39.0879" r="32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <circle cx="39" cy="39.0879" r="24" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M28.6773 46.0879L32.0973 41.0479L28.6773 36.0079H30.5173L33.2373 40.1279L35.9973 36.0079H37.7973L34.3773 41.0479L37.7973 46.0879H35.9973L33.2373 41.9479L30.5173 46.0879H28.6773ZM39.4792 44.9079C43.2992 41.9079 46.6192 38.7679 46.6192 36.0879C46.6192 34.6279 45.9392 33.2879 43.9992 33.2879C42.1192 33.2879 41.1992 34.6679 41.1992 36.2479H39.5792C39.5992 33.4879 41.4592 31.8479 44.0192 31.8479C46.5192 31.8479 48.2992 33.2479 48.2992 36.0279C48.2992 39.3079 44.5192 42.6279 41.9592 44.6879H48.7792V46.0879H39.4792V44.9079Z" fill="#EFCC00"/>
              <path d="M28.6773 46.0879L32.0973 41.0479L28.6773 36.0079H30.5173L33.2373 40.1279L35.9973 36.0079H37.7973L34.3773 41.0479L37.7973 46.0879H35.9973L33.2373 41.9479L30.5173 46.0879H28.6773ZM39.4792 44.9079C43.2992 41.9079 46.6192 38.7679 46.6192 36.0879C46.6192 34.6279 45.9392 33.2879 43.9992 33.2879C42.1192 33.2879 41.1992 34.6679 41.1992 36.2479H39.5792C39.5992 33.4879 41.4592 31.8479 44.0192 31.8479C46.5192 31.8479 48.2992 33.2479 48.2992 36.0279C48.2992 39.3079 44.5192 42.6279 41.9592 44.6879H48.7792V46.0879H39.4792V44.9079Z" fill="white"/>
            </svg>
            <div class="icon_desc">
              Dual 120W<br> Subwoofers
            </div>
          </div>
          <div class="two_itme">
            <svg xmlns="http://www.w3.org/2000/svg" width="76" height="77" viewBox="0 0 76 77" fill="none">
              <path d="M2.03931 2.08838L74.3748 74.4239" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1.62512 74.4243L73.9607 2.08878" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22.6566 46.9057C21.4586 44.4545 20.8244 41.6792 20.9251 38.752M47.6328 53.9554C44.7033 55.738 41.2503 56.7205 37.5759 56.6091C34.0927 56.4977 30.8813 55.3531 28.2337 53.4793M53.5924 27.9546C55.5051 31.1046 56.5622 34.8219 56.4414 38.7924C56.3407 42.1349 55.3541 45.2444 53.7132 47.8982M27.0961 21.1177C30.2169 19.4161 33.8108 18.4943 37.6161 18.6159C41.4214 18.7374 44.7435 19.882 47.6227 21.7761M19.1734 50.4101C17.2204 46.9866 16.1634 42.9857 16.2943 38.7519C16.4352 34.2142 18.0057 30.0715 20.5627 26.729M51.267 57.6115C47.361 60.2349 42.6295 61.7036 37.5658 61.5415C32.5021 61.3794 28.3344 59.6778 24.7908 56.9126M57.4582 24.0653C60.2668 28.2586 61.8373 33.3534 61.6662 38.7925C61.5151 43.5733 59.9548 47.9692 57.4078 51.6055M22.9586 16.9447C27.217 14.3112 32.2605 12.8526 37.6262 13.0248C42.9919 13.197 47.4918 14.9088 51.3676 17.7347M14.7842 54.8161C11.8447 50.1872 10.2138 44.6468 10.395 38.7316C10.5762 32.8163 12.8413 26.9923 16.4755 22.5964M55.8877 62.261C50.7435 65.9782 44.3811 68.0749 37.5658 67.8622C30.7505 67.6495 25.1029 65.2186 20.452 61.3089M62.3608 19.1324C66.3171 24.6526 68.562 31.4794 68.3305 38.8025C68.1191 45.4065 65.8137 51.4433 62.0588 56.2848M17.7137 11.6675C23.3814 7.81853 30.2672 5.6611 37.6362 5.89406C45.0053 6.12703 51.2971 8.70987 56.4715 12.8829M9.22729 60.4172C4.9891 54.2791 2.61329 46.7737 2.86497 38.7314C3.11664 30.6891 6.25754 23.0824 11.2709 17.3698" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="icon_desc">
              All Wireless, No Audio<br> Cable needed
            </div>
          </div>
          <div class="two_itme">
            <svg xmlns="http://www.w3.org/2000/svg" width="154" height="77" viewBox="0 0 154 77" fill="none">
              <g clip-path="url(#clip0_6453_1726)">
                <path d="M49.2654 56.6195C39.0605 46.4146 39.0605 29.8937 49.2654 19.7149M40.0262 65.8326C24.732 50.5383 24.732 25.7439 40.0262 10.4757M30.8131 75.0718C10.4295 54.6881 10.4295 21.6463 30.8131 1.26265" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M104.735 19.5245C114.939 29.7294 114.939 46.2503 104.735 56.4291M113.974 10.3115C129.268 25.6057 129.268 50.4002 113.974 65.6683M123.187 1.07227C143.571 21.4559 143.571 54.4978 123.187 74.8814" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_6453_1726">
                  <rect width="153" height="76" fill="white" transform="translate(0.5 0.0878906)"/>
                </clipPath>
              </defs>
            </svg>
            <div class="icon_desc">
              Ultra Wide<br> Sound Stage
            </div>
          </div>
        </div>
    </div>
   </div>
   {% comment %} Thunder 优惠 {% endcomment %}
   {% comment %} <div class="thunder_promotion margin-top-160">
    <div class="promotion_title">$100 Deposit, Save $500 off MSRP</div>
    <div class="promotion_points">
      <div class="points_item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="68"
          height="56"
          viewBox="0 0 68 56"
          fill="none">
          <g clip-path="url(#clip0_5298_503)">
            <path d="M60.8807 16.4846L64.8398 13.9681C65.9827 13.2412 66.6657 11.9923 66.6657 10.6256V4.27639C66.6657 1.91833 64.7703 0 62.4404 0H3.89189C1.56204 0 -0.333344 1.91833 -0.333344 4.27639V10.6722C-0.333344 12.0002 0.320305 13.2303 1.41429 13.9631L5.19919 16.4985C5.51525 16.7104 5.70117 17.0511 5.70899 17.4343C5.71682 17.8176 5.54558 18.1662 5.23931 18.392L1.27632 21.3027C0.268444 22.0425 -0.333344 23.2359 -0.333344 24.4966V28.0867C-0.333344 29.396 0.305628 30.6171 1.3771 31.3529L5.24909 34.011C5.57396 34.2339 5.75596 34.5894 5.74814 34.9865C5.74031 35.3837 5.5446 35.7323 5.21191 35.9423L1.50431 38.2815C0.353575 39.0074 -0.333344 40.2592 -0.333344 41.6309V47.7246C-0.333344 50.0827 1.56204 52.001 3.89189 52.001H62.4424C64.7722 52.001 66.6676 50.0827 66.6676 47.7246V41.6309C66.6676 40.2592 65.9807 39.0064 64.831 38.2815L61.1224 35.9423C60.7887 35.7323 60.594 35.3837 60.5861 34.9865C60.5783 34.5894 60.7603 34.2339 61.0852 34.011L64.9572 31.3529C66.0277 30.6181 66.6676 29.3969 66.6676 28.0867V24.5432C66.6676 23.2438 66.0365 22.0286 64.9797 21.2928L60.8425 18.4099C60.5216 18.186 60.3415 17.8315 60.3503 17.4363C60.3582 17.0412 60.5529 16.6945 60.8836 16.4846H60.8807ZM59.7309 20.041L63.8681 22.9239C64.3945 23.2914 64.7086 23.8965 64.7086 24.5432V28.0867C64.7086 28.7393 64.3906 29.3474 63.8563 29.7139L59.9844 32.372C59.1145 32.9692 58.6066 33.9615 58.6272 35.0252C58.6477 36.0898 59.1927 37.0604 60.0851 37.6239L63.7937 39.9631C64.3671 40.3246 64.7086 40.9485 64.7086 41.6319V47.7256C64.7086 48.9913 63.691 50.0212 62.4404 50.0212H3.89189C2.64135 50.0212 1.62369 48.9913 1.62369 47.7256V41.6319C1.62369 40.9485 1.96617 40.3246 2.5386 39.9631L6.2462 37.6239C7.13861 37.0614 7.68364 36.0898 7.70419 35.0252C7.72474 33.9615 7.21689 32.9692 6.34699 32.372L2.475 29.7139C1.94171 29.3474 1.62271 28.7393 1.62271 28.0867V24.4966C1.62271 23.8687 1.92214 23.2745 2.42412 22.9051L6.38711 19.9944C7.20808 19.3913 7.6856 18.4178 7.66407 17.3908C7.64254 16.3638 7.12393 15.412 6.27751 14.8455L2.49261 12.3102C1.94758 11.9448 1.62173 11.3317 1.62173 10.6712V4.27639C1.62173 3.0107 2.63939 1.98073 3.88993 1.98073H62.4404C63.691 1.98073 64.7086 3.0107 64.7086 4.27639V10.6256C64.7086 11.306 64.3691 11.9289 63.7996 12.2904L59.8405 14.8069C58.9559 15.3694 58.4138 16.336 58.3913 17.3937C58.3688 18.4515 58.8698 19.4408 59.7309 20.041Z" fill="url(#paint0_linear_5298_503)" />
            <path d="M48.2911 8.53398L14.4021 43.3344C14.0225 43.7236 14.0274 44.3505 14.4119 44.7347C14.6027 44.9249 14.8503 45.02 15.0988 45.02C15.3474 45.02 15.6047 44.9209 15.7955 44.7248L49.6845 9.92445C50.0642 9.53524 50.0593 8.90834 49.6747 8.52408C49.2902 8.13982 48.6708 8.14477 48.2911 8.53398Z" fill="url(#paint1_linear_5298_503)" />
            <path d="M24.1648 19.2467C27.7413 19.2467 30.6514 16.3013 30.6514 12.6816C30.6514 9.0618 27.7413 6.11646 24.1648 6.11646C20.5883 6.11646 17.6782 9.0618 17.6782 12.6816C17.6782 16.3013 20.5883 19.2467 24.1648 19.2467ZM24.1648 8.09718C26.663 8.09718 28.6944 10.1542 28.6944 12.6816C28.6944 15.209 26.662 17.266 24.1648 17.266C21.6676 17.266 19.6353 15.209 19.6353 12.6816C19.6353 10.1542 21.6676 8.09718 24.1648 8.09718Z" fill="url(#paint2_linear_5298_503)" />
            <path d="M42.512 32.6364C38.9355 32.6364 36.0254 35.5818 36.0254 39.2015C36.0254 42.8213 38.9355 45.7666 42.512 45.7666C46.0885 45.7666 48.9986 42.8213 48.9986 39.2015C48.9986 35.5818 46.0885 32.6364 42.512 32.6364ZM42.512 43.7859C40.0138 43.7859 37.9824 41.7289 37.9824 39.2015C37.9824 36.6741 40.0148 34.6171 42.512 34.6171C45.0091 34.6171 47.0415 36.6741 47.0415 39.2015C47.0415 41.7289 45.0091 43.7859 42.512 43.7859Z" fill="url(#paint3_linear_5298_503)" />
          </g>
          <defs>
            <linearGradient
              id="paint0_linear_5298_503"
              x1="33.1671"
              y1="0"
              x2="33.1671"
              y2="52.001"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#BBF3FF" />
              <stop offset="1" stop-color="#6590AA" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_5298_503"
              x1="32.0433"
              y1="8.23895"
              x2="32.0433"
              y2="45.02"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#BBF3FF" />
              <stop offset="1" stop-color="#6590AA" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_5298_503"
              x1="24.1648"
              y1="6.11646"
              x2="24.1648"
              y2="19.2467"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#BBF3FF" />
              <stop offset="1" stop-color="#6590AA" />
            </linearGradient>
            <linearGradient
              id="paint3_linear_5298_503"
              x1="42.512"
              y1="32.6364"
              x2="42.512"
              y2="45.7666"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#BBF3FF" />
              <stop offset="1" stop-color="#6590AA" />
            </linearGradient>
            <clipPath id="clip0_5298_503">
              <rect
                width="67"
                height="56"
                fill="white"
                transform="translate(0.166656)" />
            </clipPath>
          </defs>
        </svg>
        <div class="item_title">$100 = $600</div>
        <div class="item_desc">Better Deal than<br> Black Friday!</div>
      </div>
      <div class="points_item">
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="56" viewBox="0 0 63 56" fill="none">
          <g clip-path="url(#clip0_7368_3406)">
            <path d="M17.1252 50.317L17.7172 49.5111L17.0253 49.0027L16.4181 49.6099L17.1252 50.317ZM13.3404 54.1018L14.0475 54.8089H14.0475L13.3404 54.1018ZM10.1751 54.1018L9.46798 54.8089L9.46799 54.8089L10.1751 54.1018ZM10.1751 50.9366L10.8822 51.6437L10.1751 50.9366ZM13.7709 47.3408L14.478 48.0479L15.1626 47.3633L14.5005 46.6569L13.7709 47.3408ZM49.391 46.9767L48.6476 46.3078L48.0131 47.013L48.6839 47.6838L49.391 46.9767ZM53.3508 54.1018L54.0579 54.809L54.0579 54.8089L53.3508 54.1018ZM46.1013 50.0176L46.8084 49.3105L46.1886 48.6906L45.4929 49.224L46.1013 50.0176ZM16.5331 51.1229C20.7044 54.1873 25.8523 56 31.4135 56V54C26.2937 54 21.5579 52.3326 17.7172 49.5111L16.5331 51.1229ZM14.0475 54.8089L17.8323 51.0241L16.4181 49.6099L12.6332 53.3947L14.0475 54.8089ZM11.7577 55.7574C12.5849 55.7574 13.4154 55.441 14.0475 54.8089L12.6332 53.3947C12.3912 53.6367 12.0761 53.7574 11.7577 53.7574V55.7574ZM9.46799 54.8089C10.1001 55.441 10.9305 55.7574 11.7577 55.7574V53.7574C11.4393 53.7574 11.1242 53.6367 10.8822 53.3947L9.46799 54.8089ZM9.46799 50.2295C8.20336 51.4941 8.20336 53.5443 9.46798 54.8089L10.8822 53.3947C10.3986 52.9112 10.3986 52.1273 10.8822 51.6437L9.46799 50.2295ZM13.0638 46.6337L9.46799 50.2295L10.8822 51.6437L14.478 48.0479L13.0638 46.6337ZM6.22934 30.8158C6.22934 37.4647 8.81986 43.5205 13.0413 48.0246L14.5005 46.6569C10.6116 42.5076 8.22934 36.9352 8.22934 30.8158H6.22934ZM31.4135 5.63257C17.5264 5.63257 6.22934 16.9276 6.22934 30.8158H8.22934C8.22934 18.0323 18.6308 7.63257 31.4135 7.63257V5.63257ZM56.5977 30.8168C56.5977 16.9296 45.3007 5.63257 31.4135 5.63257V7.63257C44.1962 7.63257 54.5977 18.0341 54.5977 30.8168H56.5977ZM50.1343 47.6457C54.1495 43.1837 56.5977 37.2803 56.5977 30.8168H54.5977C54.5977 36.7658 52.3462 42.1977 48.6476 46.3078L50.1343 47.6457ZM54.0579 50.2295L50.0981 46.2696L48.6839 47.6838L52.6437 51.6437L54.0579 50.2295ZM54.0579 54.8089C55.3226 53.5443 55.3226 51.4941 54.0579 50.2295L52.6437 51.6437C53.1273 52.1273 53.1273 52.9112 52.6437 53.3947L54.0579 54.8089ZM51.7682 55.7574C52.5954 55.7574 53.4258 55.441 54.0579 54.809L52.6437 53.3947C52.4017 53.6367 52.0866 53.7574 51.7682 53.7574V55.7574ZM49.4785 54.8089C50.1106 55.441 50.941 55.7574 51.7682 55.7574V53.7574C51.4498 53.7574 51.1347 53.6367 50.8927 53.3947L49.4785 54.8089ZM45.3942 50.7247L49.4785 54.8089L50.8927 53.3947L46.8084 49.3105L45.3942 50.7247ZM31.4135 56C37.1614 56 42.4673 54.0639 46.7098 50.8112L45.4929 49.224C41.5862 52.2192 36.705 54 31.4135 54V56ZM12.7058 30.8168C12.7058 20.5024 21.0992 12.109 31.4135 12.109V10.109C19.9946 10.109 10.7058 19.3979 10.7058 30.8168H12.7058ZM31.4135 49.5236C21.0991 49.5236 12.7058 41.131 12.7058 30.8168H10.7058C10.7058 42.2357 19.9947 51.5236 31.4135 51.5236V49.5236ZM50.1204 30.8168C50.1204 41.1311 41.7279 49.5236 31.4135 49.5236V51.5236C42.8324 51.5236 52.1204 42.2357 52.1204 30.8168H50.1204ZM31.4135 12.109C41.7278 12.109 50.1204 20.5024 50.1204 30.8168H52.1204C52.1204 19.3979 42.8325 10.109 31.4135 10.109V12.109ZM6.5505 18.9459C4.0939 17.2766 2.48315 14.4631 2.48315 11.2755H0.483154C0.483154 15.154 2.44584 18.5747 5.4264 20.6001L6.5505 18.9459ZM2.48315 11.2755C2.48315 6.1512 6.63772 2 11.7587 2V0C5.53364 0 0.483154 5.04614 0.483154 11.2755H2.48315ZM11.7587 2C14.9313 2 17.7305 3.59283 19.3992 6.02235L21.0478 4.89005C19.0217 1.94017 15.6174 0 11.7587 0V2ZM59.98 11.2755C59.98 14.3534 58.4793 17.0819 56.1672 18.7653L57.3444 20.3822C60.1518 18.3381 61.98 15.0192 61.98 11.2755H59.98ZM43.1409 5.90889C44.8211 3.5416 47.583 2 50.7045 2V0C46.9082 0 43.5494 1.87781 41.5099 4.75129L43.1409 5.90889ZM50.7045 2C55.8254 2 59.98 6.1512 59.98 11.2755H61.98C61.98 5.04615 56.9295 0 50.7045 0V2Z" fill="url(#paint0_linear_7368_3406)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.8442 33.3919L31.635 36.7978L34.3748 36.018L33.2539 32.7054C33.7457 32.2263 34.0512 31.5567 34.0512 30.8158C34.0512 29.4655 33.0366 28.3522 31.7282 28.1967L27.1634 14.7064L26.5463 14.8826L29.7674 28.7546C29.1629 29.238 28.7758 29.9817 28.7758 30.8158C28.7758 32.0771 29.6611 33.1316 30.8442 33.3919Z" fill="url(#paint1_linear_7368_3406)"/>
          </g>
          <defs>
            <linearGradient id="paint0_linear_7368_3406" x1="31.2316" y1="1" x2="31.2316" y2="55" gradientUnits="userSpaceOnUse">
              <stop stop-color="#D8FDFD"/>
              <stop offset="1" stop-color="#6897B4"/>
            </linearGradient>
            <linearGradient id="paint1_linear_7368_3406" x1="30.4605" y1="14.7064" x2="30.4605" y2="36.7978" gradientUnits="userSpaceOnUse">
              <stop stop-color="#A3D4DF"/>
              <stop offset="1" stop-color="#6793AC"/>
            </linearGradient>
            <clipPath id="clip0_7368_3406">
              <rect width="61.7004" height="56" fill="white" transform="translate(0.483154)"/>
            </clipPath>
          </defs>
        </svg>
        <div class="item_title">Early Access</div>
        <div class="item_desc">Receive before the <br> holiday rush!</div>
      </div>
      <div class="points_item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="92"
          height="56"
          viewBox="0 0 92 56"
          fill="none">
          <path
            d="M34.332 14.001C34.332 12.8965 35.2274 12.001 36.332 12.001H70.4776C71.2351 12.001 71.9276 12.429 72.2664 13.1066L82.2663 33.1064C82.9312 34.4362 81.9642 36.0008 80.4775 36.0008H36.332C35.2274 36.0008 34.332 35.1054 34.332 34.0008V14.001Z"
            fill="black"
            stroke="url(#paint0_linear_7368_3406)"
            stroke-width="2" />
          <rect
            x="34.332"
            y="24.999"
            width="49.9996"
            height="19.6665"
            rx="2"
            fill="black"
            stroke="url(#paint1_linear_7368_3406)"
            stroke-width="2" />
          <path
            d="M8.33521 5.33337C8.33521 4.2288 9.23064 3.33337 10.3352 3.33337H56.3348C57.4394 3.33337 58.3348 4.2288 58.3348 5.33337V44.6664H10.3352C9.23063 44.6664 8.33521 43.771 8.33521 42.6664V5.33337Z"
            fill="black"
            stroke="url(#paint2_linear_7368_3406)"
            stroke-width="2" />
          <path
            d="M32.3334 45.6666C32.3334 49.9007 28.901 53.3332 24.6668 53.3332C20.4327 53.3332 17.0002 49.9007 17.0002 45.6666C17.0002 41.4325 20.4327 38 24.6668 38C28.901 38 32.3334 41.4325 32.3334 45.6666Z"
            fill="black"
            stroke="url(#paint3_linear_7368_3406)"
            stroke-width="2" />
          <path
            d="M76.75 45.6666C76.75 49.9007 73.3176 53.3332 69.0834 53.3332C64.8493 53.3332 61.4168 49.9007 61.4168 45.6666C61.4168 41.4325 64.8493 38 69.0834 38C73.3176 38 76.75 41.4325 76.75 45.6666Z"
            fill="black"
            stroke="url(#paint4_linear_7368_3406)"
            stroke-width="2" />
          <defs>
            <linearGradient
              id="paint0_linear_7368_3406"
              x1="59.3318"
              y1="11.001"
              x2="59.3318"
              y2="37.0008"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#D8FDFD" />
              <stop offset="1" stop-color="#6897B4" />
            </linearGradient>
            <linearGradient
              id="paint1_linear_7368_3406"
              x1="59.3318"
              y1="23.999"
              x2="59.3318"
              y2="45.6655"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#D8FDFD" />
              <stop offset="1" stop-color="#6897B4" />
            </linearGradient>
            <linearGradient
              id="paint2_linear_7368_3406"
              x1="33.335"
              y1="2.33337"
              x2="33.335"
              y2="45.6664"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#D8FDFD" />
              <stop offset="1" stop-color="#6897B4" />
            </linearGradient>
            <linearGradient
              id="paint3_linear_7368_3406"
              x1="24.6668"
              y1="37"
              x2="24.6668"
              y2="54.3332"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#D8FDFD" />
              <stop offset="1" stop-color="#6897B4" />
            </linearGradient>
            <linearGradient
              id="paint4_linear_7368_3406"
              x1="69.0834"
              y1="37"
              x2="69.0834"
              y2="54.3332"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#D8FDFD" />
              <stop offset="1" stop-color="#6897B4" />
            </linearGradient>
          </defs>
        </svg>
        <div class="item_title">Free Shipping</div>
        <div class="item_desc">For most U.S. regions</div>
      </div>
    </div>
    <div class="promotion_buttons">
      <div class="button_group">
        <a class="pre_order" href="https://awolvision.com/cart/41663407259696:1">pay deposit now</a>
        <a class="terms_dialog_open_btn" href="javascript:void(0)" >Terms & Conditions</a>
      </div>
      <a class="show_more" href="javascript:;">
        show more details
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
          <path d="M3.64323 11.0573L10.5 17.807M10.5 17.807L17.3568 11.0574M10.5 17.807L10.5 3.23632" stroke="black" stroke-width="1.5"/>
        </svg>
      </a>
    </div>
    <div class="promotion_container">
      <div class="promotion_more_details grid_template thunder_container ">
        <div class="grid-col-12">
          <div class="details_contexts">
            <div class="context_item">
              <div class="item-number">01</div>
              <div class="item-text">
                Pre-Sale Period 
                <div class="message">(Sep 30 - Oct 16)</div>
                <div class="message_main">
                  Pay a $100 Deposit (100% Refundable) to Secure Your Deposit Deal
                </div>
              </div>
            </div>
            <div class="context_item">
              <div class="item-number">02</div>
              <div class="item-text">
                Official Launch
                <div class="message">(Oct 17)</div>
                <div class="message_main">
                  Order Your ThunderBeat Sound System on the Website
                </div>
              </div>
            </div>
            <div class="context_item">
              <div class="item-number">03</div>
              <div class="item-text">
                Redeem Your Exclusive Code at Checkout!
              </div>
            </div>
            <div class="context_item">
              <div class="item-number">04</div>
              <div class="item-text">
                Enjoy the Biggest Discount and Receive Free Gifts!
              </div>
            </div>
          </div>
          <div class="commitments_icons">
            <div class="commitments_title">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.22338 2.1034C6.50975 2.15291 6.9424 2.22717 7.37505 2.302C7.78126 2.37233 8.13458 2.25868 8.44514 1.9965C9.74647 0.838065 10.0317 0.55563 11.3921 1.87216C11.8377 2.31494 12.3615 2.39202 12.9489 2.25756C13.736 2.08989 14.6362 1.84403 14.9602 2.81342C15.0373 3.00415 15.1189 3.19601 15.1644 3.39517C15.3411 4.16709 15.8086 4.63406 16.5777 4.82085C17.2112 5.00033 18.0124 5.27207 17.8847 6.0845C17.8307 6.51096 17.757 6.93461 17.685 7.35883C17.5089 8.21964 18.3275 8.73331 18.7517 9.36232C19.0842 9.81579 19.0814 10.1686 18.7517 10.6243C18.5598 10.8893 18.3511 11.1458 18.1221 11.3787C17.6653 11.844 17.5916 12.3802 17.7384 12.9884C17.8149 13.3052 17.8543 13.6326 17.8864 13.9578C17.928 14.3781 17.7412 14.6943 17.3615 14.8647C17.0042 15.0251 16.634 15.159 16.2615 15.2811C15.3254 15.5601 15.291 16.3698 14.9709 17.1467C14.5855 18.2978 13.5115 17.7937 12.6152 17.684C12.209 17.6154 11.8563 17.7285 11.5451 17.9895C11.2436 18.2422 10.9533 18.51 10.6377 18.7434C10.1729 19.0866 9.82243 19.0844 9.35377 18.7434C9.08934 18.551 8.83391 18.3412 8.59986 18.1133C8.15033 17.675 7.62992 17.5991 7.04142 17.7268C5.23431 18.106 5.29 17.8703 4.70376 16.2482C4.4247 15.33 3.62298 15.2867 2.85614 14.9761C2.26089 14.7483 2.05553 14.4456 2.11348 13.8183C2.15568 13.0081 2.61871 12.2261 1.99196 11.5323C1.77929 11.2825 1.55931 11.0389 1.35227 10.7846C0.882484 10.2068 0.883047 9.77641 1.35114 9.20141C1.52274 8.99099 1.69377 8.77776 1.88506 8.58534C2.63109 7.87757 2.18944 6.95037 2.10448 6.08393C1.98183 5.26645 2.77456 5.00427 3.412 4.82141C5.51899 4.33812 4.29249 1.96556 6.22169 2.10284L6.22338 2.1034Z" stroke="white"/>
                <path d="M13.5438 7.63745L8.8188 12.3625L6.4563 9.99995" stroke="white"/>
              </svg>
              AWOL'S COMMITMENTS
            </div>
            <div class="commitment_icon_container">
              <div class="icon_item">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                  <path d="M1 5.2L4.83217 9.1L12.7913 1" stroke="white" stroke-width="2"/>
                </svg>
                24-Month Hassle-Free Warranty
              </div>
              <div class="icon_item">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                  <path d="M1 5.2L4.83217 9.1L12.7913 1" stroke="white" stroke-width="2"/>
                </svg>
                Deposit 100% Refundable
              </div>
              <div class="icon_item">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                  <path d="M1 5.2L4.83217 9.1L12.7913 1" stroke="white" stroke-width="2"/>
                </svg>
                30-Day Price Match Guarantee
              </div>
              <div class="icon_item">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none">
                  <path d="M1 5.2L4.83217 9.1L12.7913 1" stroke="white" stroke-width="2"/>
                </svg>
                Lifetime Customer Support
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div> {% endcomment %}
   {% comment %} Thunder Beat video {% endcomment %}
    <div class="thunder_banner margin-top-160">
      <div class="banner_header">
        <div class="banner_header_subtitle">
            AWOL ThunderBeat
        </div>
        <div class="banner_header_title">
          <video autoplay muted loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
          </video>
          <h2>The Perfect Speaker System For<br> AWOL UST Projector</h2>
        </div>
        <div class="banner_header_desc">
          Meet ThunderBeat, the ideal companion for AWOL Vision's UST Projector. With CenterSync, the UST<br> 
          Projector serves as a center channel speaker, while ThunderBeat's all-wireless 4.2.2 surround sound<br> 
          system completes the setup. Together, they create a revolutionary 5.2.2 configuration for an <br>
          unparalleled home entertainment experience-just like Coffee mate elevates your coffee!
        </div>
        <div class="banner_image">
          <video muted playsInline autoplay loop preload="auto" poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/awolTheaterKV-poster.webp?v=1727489528" x5-playsinline="true" playsinline="true" webkit-playsinline="true">
            <source data-layzr-src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/awolTheaterKV-poster.webp?v=1727489528" src="https://cdn.shopify.com/videos/c/o/v/449bb69d83cd41f6a0a7ca4772cf1cd9.webm" type='video/mp4' codecs="hvc1" />
          </video>
        </div>
      </div> 
      <div class="thunder_introducing thunder_container">
        <div class="thunder_introducing_surround_sound">
            <div class="surround_sound_title">
              AWOL Theater 5.<span>2</span>.2  Surround Sound System
            </div>
            <div class="sunrround_sound_image">
              <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_surround_Infographic.png?v=1727685419" alt="">
              <div class="sunrround_desc">
                <div class="sunrround_desc_item">
                  <div class="number_circle">1</div>
                  Center Channel by UST Projector
                </div>
                <div class="sunrround_desc_item">
                  AWOL ThunderBeat 4.2.2 Dolby Atmos<br>
                  Surround Sound System:
                </div>
                <div class="sunrround_desc_item">
                  <div class="number_circle">2</div>
                  <span class="red">Dual Subwoofers</span>
                </div>
                <div class="sunrround_desc_item">
                  <div class="number_circle">3</div>
                  <div>
                    Left and Right Channels +<br>
                    <span class="blue">2 Upward Firing Channels</span>
                  </div>
                </div>
                <div class="sunrround_desc_item">
                  <div class="number_circle">4</div>
                  Rear Left and Rear Right Channels
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} Thunder Why Choose {% endcomment %}
    <div class="thunder_room_beat_choose margin-top-160">
      <div class="banner_header_title grid-col-12">
          <video autoplay muted loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
          </video>
          <h2>Why Choose AWOL<br> ThunderBeat Over Traditional<br> Soundbars?</h2>
      </div>
      <div class="thunder_room_beat_choose_desc">
          While soundbars with compressed sound stages are designed for smaller screens and struggle with ultra-large displays, our ThunderBeat 4.2.2 system delivers an ultra-wide sound field with precise sound placement—whether it’s a plane overhead or footsteps behind you. Offering movie theater-level detail and accuracy, it adapts to any room size or outdoor setup for a fully immersive experience. 
      </div>
      <div class="choose_options">
        <div class="choose_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="184"
            height="28"
            viewBox="0 0 184 28"
            fill="none">
            <rect
              x="1"
              y="4.08789"
              width="182"
              height="20"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <path d="M4 23.2637V25.2637C4 25.816 4.44772 26.2637 5 26.2637H6C6.55228 26.2637 7 25.816 7 25.2637V23.2637" stroke="white" />
            <path d="M177 23.1758V25.1758C177 25.7281 177.448 26.1758 178 26.1758H179C179.552 26.1758 180 25.7281 180 25.1758V23.1758" stroke="white" />
          </svg>
          <div class="choose_item_title">
            Traditional Soundbars
          </div>
          <div class="choose_item_desc">
            <div class="red">Limited Sound Stage, Poor Separation,<br> No immersive sound for Large Screen Projection</div>
          </div>
          <div class="choose_item_image">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/Infographic-wide-4.png?v=1728385249" alt="">
          </div>
        </div>
        <div class="choose_item">
          <svg
            width="198"
            height="68"
            viewBox="0 0 198 68"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect
              x="1"
              y="29.0879"
              width="22"
              height="37"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <rect
              x="29"
              y="29.0879"
              width="22"
              height="37"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <rect
              x="57"
              y="29.0879"
              width="22"
              height="37"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <rect
              x="85"
              y="29.0879"
              width="22"
              height="37"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <rect
              x="113"
              y="1.08789"
              width="39"
              height="62"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <path d="M117 63.0879V65.0879C117 65.6402 117.448 66.0879 118 66.0879H119C119.552 66.0879 120 65.6402 120 65.0879V63.0879" stroke="white" />
            <path d="M145 63.0879V65.0879C145 65.6402 145.448 66.0879 146 66.0879H147C147.552 66.0879 148 65.6402 148 65.0879V63.0879" stroke="white" />
            <rect
              x="158"
              y="1.08789"
              width="39"
              height="62"
              rx="3"
              stroke="white"
              stroke-width="2" />
            <path d="M162 63.0879V65.0879C162 65.6402 162.448 66.0879 163 66.0879H164C164.552 66.0879 165 65.6402 165 65.0879V63.0879" stroke="white" />
            <path d="M190 63.0879V65.0879C190 65.6402 190.448 66.0879 191 66.0879H192C192.552 66.0879 193 65.6402 193 65.0879V63.0879" stroke="white" />
          </svg>
          <div class="choose_item_title">
            AWOL ThunderBeat
          </div>
          <div class="choose_item_desc">
            <div class="blue">ultra-wide soundstage, Flexible placement,<br> immersive surround sound for Any Screen Size</div>
          </div>
          <div class="choose_item_image">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/Infographic-wide-3.png?v=1728385249" alt="">
          </div>
        </div>
      </div>
    </div>
    {% comment %} Thunder Shaking {% endcomment %}
    <div class="thunder_room_shaking thunder_container margin-top-160">
      <div class="banner_header_title grid-col-12">
        <video autoplay muted loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
          <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
        </video>
        <h2>Room-Shaking Bass<br> With Dual Subwoofers</h2>
      </div>
      <div class="thunder_room_shaking_desc">
        Experience room-shaking, thunderous low-frequency bliss with our surround sound system featuring<br> dual 8'' subwoofers. This setup enhances depth, clarity, and impact, delivering earth-shaking bass that<br> brings movies, music, and games to life.
      </div>
      <div class="thunder_room_shaking_image">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_shaking.png?v=1727508871" alt="">
        <div class="thunder_room_shaking_imgdesc">
          <div class="d_item">
            Dual Subwoofers
            <span>Maximum sweet spots<br> Evenly-Distributed Bass</span>
          </div>
          <div class="d_item">
            Single Subwoofer
            <span>Localized Bass</span>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Thunder ultra {% endcomment %}
    {% comment %} <div class="thunder_room_ultra margin-top-160 thunder_container" style="position: relative;">
      <div class="banner_header_title grid-col-12">
          <video autoplay muted loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
          </video>
          <h2>Ultra Wide Sound Stage<br> For Any Rooms</h2>
      </div>
      <div class="thunder_room_ultra mobile">
        <div class="thunder_room_ultra_images">
          <div class="ultra_control">
            <ul class="ultra_list">
              <li class="ultra_item active">150" AWOL Theater</li>
              <li class="ultra_item">100" AWOL Theater</li>
              <li class="ultra_item">70" TV Room with Soundbar</li>
            </ul>
          </div>
          <img class="ultra_img active" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_ultra_images_3.png?v=1727512026" alt="">
          <img class="ultra_img" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_ultra_images_2.png?v=1727512026" alt="">
          <img class="ultra_img" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_ultra_images_1.png?v=1727512026" alt="">
        </div>
      </div>
      <div class="thunder_room_ultra pc">
        <div class="thunder_room_ultra_images pc">
          <div class="image_item" id="one_image">
            <div class="ultra_control pc" id="one_list">
              <ul class="ultra_list">
                <li class="ultra_item active">70" TV Room with Soundbar</li>
                <li class="ultra_item">100" AWOL Theater</li>
                <li class="ultra_item">150" AWOL Theater</li>
              </ul>
            </div>
            <img class="ultra_img" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_ultra_images_1.png?v=1727512026" alt="">
          </div>
          <div class="image_item" id="two_image">
            <div class="ultra_control pc" id="two_list">
              <ul class="ultra_list">
                <li class="ultra_item">70" TV Room with Soundbar</li>
                <li class="ultra_item active">100" AWOL Theater</li>
                <li class="ultra_item">150" AWOL Theater</li>
              </ul>
            </div>
            <img class="ultra_img" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_ultra_images_2.png?v=1727512026" alt="">
          </div>
          <div class="image_item" id="three_image">
            <div class="ultra_control pc" id="three_list">
              <ul class="ultra_list">
                <li class="ultra_item">70" TV Room with Soundbar</li>
                <li class="ultra_item">100" AWOL Theater</li>
                <li class="ultra_item active">150" AWOL Theater</li>
              </ul>
            </div>
            <img class="ultra_img" src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_ultra_images_3.png?v=1727512026" alt="">
          </div>
        </div>
      </div>
    </div> {% endcomment %}
    {% comment %} Thunder beat complication {% endcomment %}
    <div class="thunder_room_complication margin-top-160 thunder_container grid_template">
      <div class="banner_header_title grid-col-12">
          <video autoplay muted loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
          </video>
          <h2>Avoid Complication<br> With Easy Setup</h2>
      </div>
      <div class="desc_container mobile">
          <div class="desc_title">
            AWOL ThunderBeat All-Wireless<br> Surround Sound System
          </div>
          <div class="desc_context">
            <div class="">1. No AV Receiver: Just connect the wireless transmitter to the eARC port.</div>
            <div class="">2. Minimal Wiring: Only the power cable is needed.</div>
            <div class="">3. 15-Minute Setup: Seamless audio synchronization in minutes.</div>
          </div>
      </div>
      <div class="thunder_room_complication_images">
          <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_dongle.png?v=1727515739" alt="">
      </div>
      <div class="thunder_room_complication_images mobile">
          <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_complication_mobile.png?v=1727599940" alt="">
      </div>
      <div class="complication_list grid-col-12 pc">
          <div class="complication_item_image">
            <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_Infographic-cords.png?v=1727516859" alt="">
          </div>
          <div class="complication_item_desc">
            <div class="desc_container">
              <div class="desc_title">
                Traditional Wired Sound System<br> with <span class="red">AV-Receiver</span>
              </div>
              <div class="desc_context">
                <div class="">1. Costly and Complicated.</div>
                <div class="">2. Expensive AV receivers drive up costs.</div>
                <div class="">3. Complicated wiring setups require time and effort.</div>
                <div class="">4. Professional installation can add thousands of dollars to your total cost.</div>
              </div>
            </div>
            <div class="desc_container">
              <div class="desc_title">
                AWOL ThunderBeat All-Wireless<br> Surround Sound System
              </div>
              <div class="desc_context">
                <div class="">1. No AV Receiver: Just connect the wireless transmitter to the eARC port.</div>
                <div class="">2. Minimal Wiring: Only the power cable is needed.</div>
                <div class="">3. 15-Minute Setup: Seamless audio synchronization in minutes.</div>
              </div>
            </div>
          </div>
      </div>
    </div>
    {% comment %} Thunder Beat introducing {% endcomment %}
    <div class="thunder_introducing margin-top-160 thunder_container grid_template">
      <div class="banner_header_title grid-col-12">
          <video autoplay muted loop preload poster="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/loading_pic.jpg?v=1727149207">
            <source src="https://cdn.shopify.com/videos/c/o/v/9d7394b07e0247f3bb5130d1428c62d8.mp4" />
          </video>
          <h2>Introducing AWOL Theater</h2>
      </div>
      <div class="thunder_introducing_icons">
          <div class="icon_item">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="43" viewBox="0 0 72 43" fill="none">
              <path d="M7.73138 1.43945H64.2685C67.4405 1.43945 70.0199 4.01514 70.0199 7.19085V31.9453C70.0199 37.1844 65.7649 41.4395 60.5257 41.4395H11.4742C6.23499 41.4395 1.97998 37.1844 1.97998 31.9453V7.19085C1.97998 4.01514 4.55567 1.43945 7.73138 1.43945Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
              <path d="M41.7056 28.2975H30.2906C30.0562 28.2975 29.8662 28.4875 29.8662 28.7219V31.1878C29.8662 31.4222 30.0562 31.6122 30.2906 31.6122H41.7056C41.94 31.6122 42.13 31.4222 42.13 31.1878V28.7219C42.13 28.4875 41.94 28.2975 41.7056 28.2975Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
              <g opacity="0.4">
                <path d="M63.6904 17.1936H8.30949C7.47699 17.1936 6.80212 17.8685 6.80212 18.701V31.9563C6.80212 32.7887 7.47699 33.4636 8.30949 33.4636H63.6904C64.5229 33.4636 65.1978 32.7887 65.1978 31.9563V18.701C65.1978 17.8685 64.5229 17.1936 63.6904 17.1936Z" stroke="white" stroke-miterlimit="10"/>
                <path d="M63.6867 17.1936L41.7019 28.2976" stroke="white" stroke-miterlimit="10"/>
                <path d="M8.30939 17.1936L30.2942 28.2976" stroke="white" stroke-miterlimit="10"/>
              </g>
            </svg>
            <div class="icon_desc">
              No.1 RGB UST Laser<br> Projector & Center<br> Channel Speaker
            </div>
            <div class="plus_icon">+</div>
          </div>
          <div class="icon_item">
            <svg class="pc" xmlns="http://www.w3.org/2000/svg" width="148" height="52" viewBox="0 0 148 52" fill="none">
              <rect x="1" y="22.8417" width="16.3878" height="27.5612" rx="3" stroke="white" stroke-width="2"/>
              <rect x="21.8571" y="22.8417" width="16.3878" height="27.5612" rx="3" stroke="white" stroke-width="2"/>
              <rect x="42.7143" y="22.8417" width="16.3878" height="27.5612" rx="3" stroke="white" stroke-width="2"/>
              <rect x="63.5714" y="22.8417" width="16.3878" height="27.5612" rx="3" stroke="white" stroke-width="2"/>
              <rect x="84.4286" y="1.9845" width="29.051" height="46.1837" rx="3" stroke="white" stroke-width="2"/>
              <path d="M87.4081 48.1682V49.4029C87.4081 49.9552 87.8559 50.4029 88.4081 50.4029H88.6428C89.1951 50.4029 89.6428 49.9552 89.6428 49.4029V48.1682" stroke="white"/>
              <path d="M108.265 48.1682V49.4029C108.265 49.9552 108.713 50.4029 109.265 50.4029H109.5C110.052 50.4029 110.5 49.9552 110.5 49.4029V48.1682" stroke="white"/>
              <rect x="117.949" y="1.9845" width="29.051" height="46.1837" rx="3" stroke="white" stroke-width="2"/>
              <path d="M120.929 48.1682V49.4029C120.929 49.9552 121.376 50.4029 121.929 50.4029H122.163C122.716 50.4029 123.163 49.9552 123.163 49.4029V48.1682" stroke="white"/>
              <path d="M141.786 48.1682V49.4029C141.786 49.9552 142.233 50.4029 142.786 50.4029H143.02C143.573 50.4029 144.02 49.9552 144.02 49.4029V48.1682" stroke="white"/>
            </svg>
            <svg class="mobile" width="70" height="73" viewBox="0 0 70 73" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Frame 251" clip-path="url(#clip0_6747_2287)">
              <rect id="Rectangle 211" x="1" y="1.5" width="14" height="24" rx="3" stroke="white" stroke-width="2"/>
              <rect id="Rectangle 211_2" x="19" y="1.5" width="14" height="24" rx="3" stroke="white" stroke-width="2"/>
              <rect id="Rectangle 211_3" x="37" y="1.5" width="14" height="24" rx="3" stroke="white" stroke-width="2"/>
              <rect id="Rectangle 211_4" x="55" y="1.5" width="14" height="24" rx="3" stroke="white" stroke-width="2"/>
              <g id="Group 260">
              <rect id="Rectangle 212" x="8" y="29.5" width="25" height="40" rx="3" stroke="white" stroke-width="2"/>
              <path id="Rectangle 217" d="M11 69.5V70.5C11 71.0523 11.4477 71.5 12 71.5V71.5C12.5523 71.5 13 71.0523 13 70.5V69.5" stroke="white"/>
              <path id="Rectangle 217_2" d="M28 69.5V70.5C28 71.0523 28.4477 71.5 29 71.5V71.5C29.5523 71.5 30 71.0523 30 70.5V69.5" stroke="white"/>
              </g>
              <g id="Group 260_2">
              <rect id="Rectangle 212_2" x="37" y="29.5" width="25" height="40" rx="3" stroke="white" stroke-width="2"/>
              <path id="Rectangle 217_3" d="M40 69.5V70.5C40 71.0523 40.4477 71.5 41 71.5V71.5C41.5523 71.5 42 71.0523 42 70.5V69.5" stroke="white"/>
              <path id="Rectangle 217_4" d="M57 69.5V70.5C57 71.0523 57.4477 71.5 58 71.5V71.5C58.5523 71.5 59 71.0523 59 70.5V69.5" stroke="white"/>
              </g>
              </g>
              <defs>
              <clipPath id="clip0_6747_2287">
              <rect width="70" height="72" fill="white" transform="translate(0 0.5)"/>
              </clipPath>
              </defs>
            </svg>
            <div class="icon_desc">
              AWOL ThunderBeat<br> 4.2.2 Surround<br> Sound System
            </div>
            <div class="plus_icon">+</div>
          </div>
          <div class="icon_item">
            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="52" viewBox="0 0 69 52" fill="none">
              <path d="M1.66669 3.6894C1.66669 2.50137 2.69622 1.57526 3.87763 1.70056L65.8776 8.27632C66.8948 8.3842 67.6667 9.24225 67.6667 10.2652V42.122C67.6667 43.1449 66.8948 44.0029 65.8776 44.1108L3.87763 50.6866C2.69622 50.8119 1.66669 49.8858 1.66669 48.6977V3.6894Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
            <div class="icon_desc">
              Premium<br> ALR Screen
            </div>
          </div>
      </div>
      <div class="thunder_introducing_desc">
          The brightest RGB laser projector, combined with the most powerful All-wireless 5.2.2 surround sound system, offers the ultimate fusion of visuals and sound. The groundbreaking CenterSync feature allows the UST projector to function as a center channel speaker, delivering exceptional image quality and crystal-clear dialogue. Paired with the ThunderBeat 4.2.2 system, this setup creates a unique 5.2.2 configuration, ensuring an unparalleled audio-visual experience for home entertainment.
      </div>
      <div class="thunder_introducing_banner">
          <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_introducing_banner.webp?v=1727494801" alt="thunder_introducing_banner">
      </div>
      <a href="https://awolvision.com/pages/awol-theater" class="thunder_beat_button">
        Explore AWOL Theater System
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path d="M10.7318 17.696L17.4814 10.8392M17.4814 10.8392L10.7318 3.98242M17.4814 10.8392L2.91076 10.8392" stroke="black" stroke-width="1.5"/>
        </svg>
      </a>
    </div>
    {% comment %} Thunder Beat Products {% endcomment %}
    <div class="thunder_room_products_container">
      {% include 'thunder-room-products-and-dialog.liquid' %}
    </div>
    {% comment %} Thunder Beat Image Group {% endcomment %}
    <div class="thunder_room_show margin-top-160">
      <div class="show_one thunder_container">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_endLifestyle2.png?v=1727518609" alt="">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_mounting1.png?v=1727518617" alt="">
      </div>
      <div class="show_two">
        <img src="https://cdn.shopify.com/s/files/1/0554/7445/4576/files/thunder_room_showbanner.webp?v=1727518774" alt="">
      </div>
    </div>
    {% comment %} FAQ some some {% endcomment %}
    {% render 'accordion-container' with title: 'Full Spec Of AWOL ThunderBeat' %}
    {% render 'accordion-comparison' %}
    {% comment %} {% render 'theater-faq' %} {% endcomment %}
    {% render 'theater-and-thunder-beat-dialog' %}
<script src="{{ 'thunder_beat.js' | asset_url }}"></script>
<script defer src="{{ 'thunder-room-products-and-dialog.js' | asset_url }}"></script>
{% schema %}
  {
    "name": "Thunder beat", "class": "shopify-section--thunder-beat",
    "tag": "section",
    "settings": [],
    "presets": [
      {"name": "Thunder beat"}
    ]
  }
{% endschema %}